{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %} Alterar Senha {% endblock %}

{% block dashboard %}
<div class="container-fluid mt-2">
    <div class="card">
        <div class="container-form">
            <div class="card-header">
                <h2 class="form-title">{% trans "Change Password" %}</h2>
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.errors }}
                    {{ form|crispy}}
                    <div class="col-md-12">
                        <div class="form-group form-button mb-2">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Acessar" />
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <p id="novasenha">
                        <a class="secondaryAction" href="/accounts/password/reset/">Esqueceu a sua senha?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}