{% extends 'base.html' %}


{% load i18n account static %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block base %}

<div class="container-fluid">
    <div class="justify-content-center">
        <div class="content-header">
            <div class="container">
                <div class="text-center">
                    <div class="row">
                        <section class="signup">
                            <div class="container-form">
                                <div class="signup-content">
                                    <div class="signup-form">
                                        <h2 class="form-title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
    
                                        {% if token_fail %}
                                            {% url 'account_reset_password' as passwd_reset_url %}
                                            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                                        {% else %}
                                            {% if form %}
                                                <form method="POST" action="{{ action_url }}">
                                                    {% csrf_token %}
                                                    {{ form.non_field_errors }}
    
                                                    <div class="form-group mb-0">
                                                        <div class="col-md-12">
                                                            <div class="form-floating mb-1">
                                                                <input class="form-control" id="id_password1" name="password1" type="password"
                                                                    value="{{ form.password1.value }}" />
                                                                {{ form.password1.errors }}
                                                                <label for="id_password1">Nova Senha</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-floating mb-1">
                                                                <input class="form-control" id="id_password2" name="password2" type="password"
                                                                    value="{{ form.password2.value }}" />
                                                                {{ form.password2.errors }}
                                                                <label for="id_password2">Nova Senha (novamente)</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 mb-2">
                                                        <div class="form-group form-button">
                                                            <input type="submit" class="form-submit" value="Salvar" />
                                                        </div>
                                                    </div>
                                                </form>
                                            {% else %}
                                                <p>{% trans 'Your password is now changed.' %}</p>
                                            {% endif %}
                                        {% endif %}

                                    </div>

                                    <div class="signup-image">
                                        <figure><img src="{% static 'images/change-password.jpg' %}" alt="sing up image"></figure>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
