{% extends 'base.html' %}


{% load i18n account static %}

{% block title %} Redefinir Senha {% endblock title %} 

{% block base %}

<div class="container-fluid">
    <div class="justify-content-center">
        <div class="content-header mt-5">
            <div class="container">
                <div class="text-center">
                    <div class="row"> 
                        <h2 class="form-title" style="margin-bottom: 33px;">{% trans "Password Reset" %}</h2>                                                    
                        {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}                    
                        <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

                        <div class="button mt-3"><a href="{% url 'account_signup' %}">Cadastrar</a></div>
                        <div class="button mt-3"><a href="{% url 'account_login' %}">Entrar</a></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}