{% extends 'dashboard.html' %}

{% load i18n account static crispy_forms_tags %}
{% block title %} Alterar Senha {% endblock %}
{% block dashboard %}


<!--Menu-->
<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">            
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>                           
        </ul>
        <div class="d-flex">
          <a href="{% url 'account_change_password' %}">
            <button class="btn btn-outline-primary" type="submit">Senha</button>
          </a>     
        </div>
        <div class="d-flex">
            <a href="{% url 'user:user_update' user.pk %}">
              <button class="btn btn-outline-success" type="submit">Usuário/Email</button>
            </a>     
          </div>                    
      </div>
    </div>
</nav>

<div class="container-fluid mt-2">
    <div class="card">
        <div class="container-form">
            <div class="card-header">
                <h2 class="form-title">{% trans "Change Password" %}</h2>
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form|crispy}}
                    <!-- <div class="form-group mb-0">
                        <div class="col-md-12">
                            <div class="form-floating mb-1">
                                <input class="form-control" id="id_oldpassword" name="oldpassword" type="password"  value=""/>
                                {{ form.oldpassword.errors }}
                                <label for="id_password">Senha Atual</label>                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <div class="col-md-12">
                            <div class="form-floating mb-1">
                                <input class="form-control" id="id_password1" name="password1" type="password1"  value=""/>
                                {{ form.password1.errors }}
                                <label for="id_password">Nova Senha</label>                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <div class="col-md-12">
                            <div class="form-floating mb-1">
                                <input class="form-control" id="id_password2" name="password2" type="password"  value=""/>
                                {{ form.password2.errors }}
                                <label for="id_password2">Senha</label>                                
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-12">
                        <div class="form-group form-button mb-2">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Acessar" />
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <p id="novasenha">
                        <a class="secondaryAction" href="/accounts/password/reset/">Esqueceu a sua senha?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
