{% extends 'base.html' %}

{% load i18n %}
{% load account %}
{% load static %}

{% block content %}

<div class="main">
    <section class="signup">
        <div class="container-form">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title" style="margin-bottom: 33px;">Completar Cadastro</h2>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="document_number" id="id_document_number"
                                placeholder="Número do Documento">
                            <input type="text" name="document_kind" id="id_document_kind"
                                placeholder="Tipo do Documento">
                            <input type="file" name="document_image" id="id_document_image"
                                placeholder="Imagem do Documento">
                            <input type="text" name="postal_code" id="id_postal_code" placeholder="CEP">
                            <input type="text" name="street" id="id_street" placeholder="Logradouro">
                            <input type="number" name="number" id="id_number" placeholder="Número">
                            <input type="text" name="complement" id="id_complement" placeholder="Complemento">
                            <input type="text" name="city" id="id_city" placeholder="Cidade">
                            <input type="text" name="state" id="id_state" Splaceholder="Estado">
                        </div>

                        <div class="mt-4 mb-0">
                            <input type="submit" value="Salvar" class="btn btn-primary" />
                        </div>
                    </form>
                </div>

                <div class="signup-image">
                    <figure><img src="{% static 'images/signup-image.jpg' %}" alt="sing up image"></figure>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}