{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
Passeio
{% endblock title %}
{% block dashboard %}


<div class="container-fluid mt-2">
    <div class="card">
        <div class="container-form">
            <div class="card-header">
                <div class="row form-title m-2 pb-1">
                    <div class="col-md-1 pt-1">
                        <h5>Passeio:</h5>
                    </div>
                    <div class="col-md-6 align-content-center">
                        <h3 class="mb-0"><a href="{% url 'trip:trip_list_create' %}">{{ trip.name }}</a></h3>
                    </div>
                </div>
                <form method="POST" enctype="multipart/form-data"></form>
                    {% for a in activity %}
                    <div class="card-header p-0">
                        <div class="row">
                            <div class="col-md-2 card m-0 px-2">
                                <h6 class="px-2 pt-2">Atividade:</h6>
                                <div class="align-middle p-1">
                                    <h6><i>{{ a.name }}</i></h6>
                                </div>
                            </div>
                            <div class="col-md-10 p-0 m-0">
                                <div class="row">
                                    {% for c in catpax %}
                                    {% if c.activity_id == a.id%}
                                    <div class="col-md-3 card p-1 m-0">
                                        <h6>
                                            <center>{{c.catpax}}</center>
                                        </h6>
                                        <div class="row">
                                            {% for s in season %}
                                            <div class="col-md-6">
                                                <h6 style="font-size:0.60em">
                                                    <center>{{ s }}</center>
                                                </h6>
                                            </div>
                                            {% endfor %}
                                            <div class="row p-0">
                                                {% csrf_token %}
                                                {{ formset.management_form|crispy }}
                                                {{ formset.non_form_errors }}
                                                {% for field in formset %}
                                                    {% if field.activity.value == a.id and field.catpax.value == c.catpax_id %}
                                                    <div class="card col-md-6 m-0 p-0">
                                                        {{ field }}
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                    <div class="col-md-12 mb-2">
                        <div class="form-group form-button">
                            <input type="submit" class="form-submit form-group" value="Salvar" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}