{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Preços de Passeio{% endblock title %} 

{% block dashboard %}


<div class="container-fluid mt-2">
    <div class="container-form">
        <div class="card p-2">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2 class="form-title">Preços de Passeio</h2>
                    </div>
                    <div id="bottom_list" class="col-sm-12 col-md-6" style="text-align-last: end;">
                        <a href="{% url 'trip:price_trip_create' %}">
                            <i class="fas fa-plus-circle fa-2x"></i></a>
                    </div>
                </div>
                <table id="myTable1" class="table table-striped table-bordered mt-5">
                    <thead>
                        <tr>
                            <th>Passeio</th>
                            <th>Categoria</th>
                            <th>Temporada</th>
                            <th>Valor</th>
                            <th>Editar</th>
                            <th>Deletar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for priceP in object_list %}
                        <tr>
                            <td>{{ priceP.trip }}</td>
                            <td>{{ priceP.cadpax }}</td>
                            <td>{{ priceP.season }}</td>
                            <td>{{ priceP.price }}</td>
                            <td align="center">
                                <a href="{% url 'trip:price_trip_update' priceP.id %}" class="btn">
                                    <i class="fas fa-user-edit"></i>
                                </a>
                            </td>
                            <td align="center">
                                <a href="{% url 'trip:price_trip_delete' priceP.pk %}" class="btn">
                                    <i class="fas fa-solid fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    <tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}