{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Preços{% endblock title %} 

{% block dashboard %}


<div class="container-fluid mt-2">
    <div class="card">
        <div class="container-form">
            <div class="card-header">
                <h2 class="form-title">Novo Valor</h2>
                <form method="POST" class="register-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form|crispy }}
                    <div class="row form-group form-button ">
                        <div class="col-md-1 p-1">
                            <input type="submit" class="btn btn-primary" value="Salvar"/>
                        </div>
                        <div class="col-md-1 p-1">
                            <a href="{% url 'trip:catpax_list' %}" type="button" class="btn btn-primary" />CadPAX</a>
                        </div> 
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}