{% extends 'trip_price_update1.html' %}
{% load i18n account static crispy_forms_tags %}

{% block trip_price %}


<form method="POST">
    <div class="container-fluid mt-2">
        <div class="card">
            {% comment %} <h6>Editando '{{trip}}'</h6> {% endcomment %}
            <div class="container-form">
                {% csrf_token %}
                {{formset.as_p}}
            </div>
            <div class="form-group form-button">
                <input type="submit" class="form-submit form-group" value="Salvar" />
            </div>
        </div>
    </div>
</form>

{% endblock %}