{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
Passeio
{% endblock title %}
{% block dashboard %}

<script src="{% url 'js-catlog' %}"></script>
<script src="{% static '/admin/js/core.js' %}"></script>
<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">


<div class="container-fluid mt-2">
    <div class="card">
        <div class="container-form">
            <div class="card-header">
                <h2 class="form-title">Você tem certeza que deseja excluir o passeio?</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <button type="submit" value="Confirmar" class="btn btn-danger">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}