{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
Passeio
{% endblock title %}
{% block dashboard %}
<header>
    <style>
        iframe {
            width: 100%;
            height: 500px;
        }
    </style>
</header>

<div class="container-fluid mt-2">
    <div class="card">
        <div class="col-md-6 form-title p-4">
            {% for obj in object %}
            <h4 class="p-2">{{ obj.name }}</h4>

            <nav>
                <div class="nav nav-tabs ml-2" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info"
                        role="tab" aria-controls="nav-info" aria-selected="true">Informações</a>
                    <a class="nav-item nav-link" id="nav-options-tab" data-toggle="tab" href="#nav-options"
                        role="tab" aria-controls="nav-options" aria-selected="false">Opções</a>
                    <a class="nav-item nav-link" id="nav-values-tab" data-toggle="tab" href="#nav-values" role="tab"
                        aria-controls="nav-values" aria-selected="false">Valores</a>
                    <a class="nav-item nav-link" id="nav-local-tab" data-toggle="tab" href="#nav-local" role="tab"
                        aria-controls="nav-local" aria-selected="false">Local</a>
                </div>
            </nav>
            <div class="tab-content m-2 pt-3 pl-2" id="nav-tabContent">
                {% block trip_update %}
                {% endblock %}
                <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                    <h5>Informações</h5>
                    <p>Local para armazenamento do formulário para update/edit do passeio</p>
                    <iframe src="{% url 'trip:trip_update' obj.id %}" frameborder="0">
                    </iframe>
                </div>
                <div class="tab-pane fade" id="nav-options" role="tabpanel" aria-labelledby="nav-options-tab">
                    <h5>Opções</h5>
                    <p>Local para armazenamento do formulário create/update das opções do passeio</p>
                    <iframe src="" frameborder="0">
                    </iframe>
                    {% block trip_options %}
                    {% endblock %}
                </div>
                <div class="tab-pane fade" id="nav-values" role="tabpanel" aria-labelledby="nav-values-tab">
                    <h5>Valores</h5>
                    <p>Local para armazenamento do formulário para os valores das opções do passeio</p>
                    <iframe src="" frameborder="0">
                    </iframe>
                    {% block trip_values %}
                    {% endblock %}
                </div>
                <div class="tab-pane fade" id="nav-local" role="tabpanel" aria-labelledby="nav-local-tab">
                    <h5>Local</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7534.804737919865!2d-42.490638456755626!3d-19.221288104659425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1655392543269!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}