{% extends 'dashboard.html' %}

{% load i18n account static %}


{% block title %}Passeio{% endblock title %}


{% block dashboard %}

<div class="card-header p-1">
    <div class="row">
        <div class="col">
            <h1 class="m-2">Passeios</h1>
        </div>
        <div id="bottom_list" class="col">
            <div class="row my-3">
                <form method="POST" enctype="multipart/form-data">
                    <a data-toggle="modal" data-target="#exampleModal" class="btn float-end" id="+">
                        <i class="fas fa-plus-circle fa-2x"></i></a>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Novo Passeio</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    {{ form }}
                                </div>
                                <div class="modal-footer">
                                    <div class="col-3 col-lg-2 mt-2">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Salvar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="myTable1" class="table table-striped mt-5">
        <thead>
            <tr>
                <th>Nome do Passeio</th>
                <th>Destino</th>
                <th>Descrição</th>
                <th>Duração</th>
                <th>Atualizado em</th>
                <th>Atividades</th>
                <th>Valores</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            {% for t in object_list %}
            <tr>
                <td>{{ t.name }}</td>
                <td>{{ t.destiny.city_state }}</td>
                <td>{{ t.short_description|safe|truncatechars:"20" }}</td>
                <td>{{ t.trip_duration }}</td>
                <td class="text-center">{{ t.updated|date:'d/m/Y' }}</td>
                <td class="text-center">
                    <a href="{% url 'trip:activity_list_create' trip_id=t.pk %}" class="btn">
                        <i class="fas fa-diagnoses"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a href="{% url 'trip:activity_price_update' trip_id=t.pk %}" class="btn">
                        <i class="fas fa-money-bill-wave"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a href="{% url 'trip:trip_update' t.pk %}" class="btn">
                        <i class="fas fa-user-edit"></i>
                    </a>
                </td>
                <td class="text-center">
                    <a href="{% url 'trip:trip_delete' t.pk %}" class="btn">
                        <i class="fas fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}