{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Passeio{% endblock title %}


{% block dashboard %}


<div class="container-fluid mt-2">
    <div class="card">
        <div class="container-form">
            <div class="card-header">                    
                <h2 class="form-title">Você tem certeza que deseja excluir este passeio ?</h2>                    
                <form method="POST" class="register-form" enctype="multipart/form-data">                        
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form|crispy }}                    
                    <div class="card-body">                                            
                        <div class="form-group">                    
                            <div class="row ml-0">
                                <div class="col-md-1">
                                    <div class="form-floating">
                                        <button type="submit" value="Confirmar" class="btn btn-danger">Confirmar</button>        
                                    </div>
                                </div>
                            </div>
                        </div>                
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

