{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Novo Cliente{% endblock title %}


{% block dashboard %}


<main id="form-dash">
    <div class="container-fluid pt-4">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Lista dos Produtos
                <a class="btn btn-dark ml-auto" href="{% url 'product:product_register' %}">
                    Novo Produto</a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Categoria</th>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Disponível</th>
                            <th>Criado em</th>
                            <th>Atualizado em</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Categoria</th>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Disponível</th>
                            <th>Criado em</th>
                            <th>Atualizado em</th>
                            <th>Editar</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for product in object_list %}
                        <tr>
                            <td>{{ product.category }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.get_available_display }}</td>
                            <td>{{ product.created_at|date }}</td>
                            <td>{{ product.updated|date }}</td>
                            <td align="center">
                                <a href="{% url 'product:product_details' product.pk %}" class="btn">
                                    <i class="zmdi zmdi-edit material-icons-name"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}

