{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
    Passeio
{% endblock title %}
{% block dashboard %}


<div class="container-fluid mt-2">
    <div class="container-form">
        <div class="card">
            <div class="card-header p-1">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2 class="form-title m-2">Valores</h2>
                    </div>
                    <div id="bottom_list" class="col-sm-12 col-md-6">
                        <div class="row my-3">
                            <form method="POST">
                                <a data-toggle="modal" data-target="#exampleModal" class="btn float-end">
                                    <i class="fas fa-plus-circle fa-2x"></i></a>
                                <div class="modal fade"
                                        id="exampleModal"
                                        tabindex="-1"
                                        role="dialog"
                                        aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Novo Valor de Transporte</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% csrf_token %}
                                                {{ form.non_field_errors }}
                                                {{ form|crispy }}
                                                {{ form.media }}
                                            </div>
                                            <div class="modal-footer">
                                                <div class="form-group form-button">
                                                    <input type="submit"
                                                            name="signup"
                                                            id="signup"
                                                            class="form-submit"
                                                            value="Salvar"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="myTable1" class="table table-striped table-bordered mt-5">
                        <thead>
                            <tr>
                                <th>Passeio</th>
                                <th>Temporada</th>
                                <th>CategoriaPAX</th>
                                <th>Valor</th>
                                <th>Editar</th>
                                <th>Deletar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in object_list %}
                                <tr>
                                    <td>{{ p.trip }}</td>
                                    <td>{{ p.season }}</td>
                                    <td>{{ p.cadpax }}</td>
                                    <td>{{ p.price }}</td>
                                    <td align="center">
                                        <a href="{% url 'trip:trip_price_update' p.pk %}" class="btn">
                                            <i class="fas fa-user-edit"></i>
                                        </a>
                                    </td>
                                    <td align="center">
                                        <a href="{% url 'trip:trip_price_delete' p.pk %}" class="btn">
                                            <i class="fas fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
{% endblock %}