{% extends 'dashboard.html' %}

{% load i18n account static crispy_forms_tags %}

{% block title %}Passeios{% endblock title %}


{% block dashboard %}

<div class="container-fluid mt-2">
    <div class="container-form">
        <div class="card p-2">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2 class="form-title">Passeios</h2>
                    </div>
                    <div id="bottom_list" class="col-sm-12 col-md-6" style="text-align-last: end;">
                        <a href="{% url 'trip:trip_create' %}">
                            <i class="fas fa-plus-circle fa-2x"></i></a>
                    </div>
                </div>
                <table id="myTable1" class="table table-striped table-bordered mt-5">
                    <thead>
                        <tr>
                            <th>Passeio</th>
                            <th>Descrição</th>
                            <th>Duração</th>
                            <th>Tempo de percurso</th>
                            <th>Carga limite</th>
                            <th>Atualizado em</th>
                            <th>Valores</th>
                            <th>Editar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trip in object_list %}
                        <td>{{ trip.name }}</td>
                        <td>{{ trip.short_description|safe|truncatechars:"20" }}</td>
                        <td>{{ trip.trip_duration }}</td>
                        <td>{{ trip.travel_time }}</td>
                        <td>{{ trip.limit_load }}</td>
                        <td>{{ trip.updated|date }}</td>
                        <td align="center">
                            <a href="{% url 'trip:price_trip_list' %}" class="btn">
                            <i class="fas fa-money-bill-wave"></i>
                        </td>
                        <td align="center">
                            <a href="{% url 'trip:trip_update' trip.pk %}" class="btn">
                                <i class="fas fa-user-edit"></i>
                            </a>
                        </td>
                        <td align="center">
                            <a href="{% url 'trip:trip_delete' trip.pk %}" class="btn">
                                <i class="fas fa-solid fa-trash"></i>                                    
                            </a>
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}