{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Editar Produto{% endblock title %}


{% block dashboard %}


<main id="form-dash">
    <div class="col-lg-6 col-md-12 container pt-4">
        <div class="card ms-2">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Editar Produto
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-2">
                        <div class="">
                            <input type="submit" class="btn btn-dark" value="Salvar" />
                        </div>
                    </div>
                </form>
            </div>  
        </div>
    </div>
</main>

{% endblock %}



