{% extends 'dashboard.html' %}

{% load i18n account static %}

{% load i18n account static crispy_forms_tags %}

{% block title %} Transporte {% endblock title %} 

{% block dashboard %}
    
    <div class="container-fluid mt-2">
        <div class="card">
            <div class="container-form">
                <div class="card-header">                    
                    <h2 class="form-title">Você tem certeza que deseja excluir o trecho ?</h2>                    
                    <form method="POST" class="register-form" enctype="multipart/form-data">                        
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form|crispy }}                    
                        <div class="card-body">                                            
                            <div class="form-group">                    
                                <div class="col-md-12">
                                    <div class="form-floating mb-1">
                                        <input class="form-control" id="trecho" name="trecho" type="text"
                                            value="{{ transport.trecho }}"/>
                                        {{ form.trecho.errors }}
                                        <label for="trecho">Trecho</label>
                                    </div>
                                </div>
                                <div class="row ml-0">
                                    <div class="col-md-1">
                                        <div class="form-floating">
                                            <button type="submit" value="Confirmar" class="btn btn-danger">Confirmar</button>        
                                        </div>
                                    </div>
                                </div>
                            </div>                
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}