{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
    Transporte
{% endblock title %}
{% block dashboard %}


<div class="container-fluid mt-2">
    <div class="card">
        <div class="container-form">
            <div class="card-header">
                <h2 class="form-title">Você tem certeza que deseja excluir esta Categoria de Transporte?</h2>
                <form method="POST">
                    <!-- Button trigger modal -->
                    <button type="button"
                            class="btn btn-danger"
                            data-toggle="modal"
                            data-target="#exampleModal">Confirmar</button>
                    <!-- Modal -->
                    <div class="modal fade"
                            id="exampleModal"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Excluir Categoria de Transporte</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    {{ form|crispy }}
                                </div>
                                <div class="card-body">
                                    <div class="row ml-0">
                                        <div class="col-md-1">
                                            <div class="form-floating">
                                                <button type="submit" value="Confirmar" class="btn btn-danger">Excluir</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
