{% extends 'dashboard.html' %}

{% load i18n account static crispy_forms_tags %}

{% block title %}
Transporte
{% endblock title %}

{% block dashboard %}

<div class="p-2">
    <h2 class="form-title">Editar Transporte</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form|crispy }}
        <div class="col-3 col-lg-1 mb-2">
            <input type="submit" class="btn btn-primary btn-sm float-end" value="Salvar" />
        </div>
    </form>
</div>

{% endblock %}