{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
    Pacotes
{% endblock title %}
{% block dashboard %}


<div class="header">
    <div class="container mt-2">
        <div class="card p-2">
            <div class='row'>
                <h3 class="form-title mb-1 p-0">Pacote para <a href="{% url 'package:data_package_list' id_destiny=destiny.pk %}">{{destiny}}</a></h3>
            </div>
            <div class='row m-2'>
                <form method="POST" enctype="multipart/form-data" class='p-0'>
                    {% csrf_token %}
                    <div class="form-group mb-2 p-0">
                    {% for pac in package %}
                        <div class="row">
                            <div class='col-sm-12 col-md-8 jumbotron m-0 p-2' style='text-align: center;'>
                                <div class="row mt-2">
                                    <div class='col-3'>
                                        <label>Data de Chegada</label>
                                        <p class='p-2'>{{ pac.date_arrive|date:"d/m/y" }}</p>
                                    </div>
                                    <div class='col-3'>
                                        <label>Data de Partida</label>
                                        <p class='p-2'>{{ pac.date_departure|date:"d/m/y" }}</p>
                                    </div>
                                    <div class='col-3'>
                                        <label >Quantidade Adultos</label>
                                        <p class='p-2'>{{ pac.num_adults }}</p>
                                    </div>
                                    <div class='col-3'>
                                        <label>Quantidade Crianças</label>
                                        <p class='p-2'>{{ pac.num_child }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>                
                    <div class='mb-1 ml-0'>
                        <div class='form-inline'>
                            {{ formset }}
                        </div>
                    </div>
                    <div class='mt-2'>
                        <button type='submit' class='btn btn-primary'>Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}