
{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
    Pacote
{% endblock title %}
{% block dashboard %}

<div class="header">
    <div class="container-fluid mt-2">
        <div class="card">
            <div class='row'>
                <h3 class="form-title mb-3 p-3">Pacote Turístico para {{destiny}}</h3>
            </div>
            <div class='row'>
                <form action='.' method='POST' class='form-group p-2'>
                    {% csrf_token %}
                    <div class='row'>
                        <div class='col-6'>
                        {{ form|crispy }}
                        </div>
                    </div>
                    {% comment %} <div class='row pt-1'>
                        <div class='col-6 m-0'>
                            {{ form.date_arrive }}
                        </div>
                        <div class='col-6 m-0'>
                            {{ form.date_departure }}
                        </div>
                    </div>
                    <div class='row pt-1'>
                        <div class='col-6 m-0'>
                            {{ form.num_adults }}
                        </div>
                        <div class='col-6 m-0'>
                            {{ form.num_child }}
                        </div>
                    </div> {% endcomment %}
                    {% if formset %}
                    <div style="display: None;" class="alert alert-danger" role="alert" id="id_message">
                        <h5>Por favor, informe a idade das crianças</h5>
                    </div>
                    <div class='row my-2'>
                        {{ formset.management_form }}
                        <div id='children_age_list'> 
                            {% comment %} ingredient-form-list {% endcomment %}
                            {% for form in formset %}
                            <div class='child_age_form'>
                                {% comment %} ingredient-form {% endcomment %}
                                {{ form.as_p }}
                            </div>
                            {% endfor %}
                        </div>
                        <div id='empty-form' class=''>{{ formset.empty_form.as_p }}</div>
                            {% comment %} <h3>Campos</p>
                            <div id="campos">
                            </div> {% endcomment %}
                        <div class='row'>
                            <div class='col-2'>
                                <button id='add-more' type='button' class='btn btn-primary w-100'>Add</button>
                            </div>
                    {% endif %}
                            <div class='col-2'>
                                <button type='submit' class='btn btn-primary w-100'>Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>  
    </div>

    <div class='container-fluid mt-2'>
        <div class="card">
            <div class="row">
                <div class="col-md-3 m-4">
                    <h2>Starter Template</h2>
                    <div class="form-group">
                        <label for="numero-parcelas">Número de parcelas</label>
                        <select class="form-control" id="numero-parcelas" name="numero-parcelas" oninput="camposParcela();">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <span id="span-modelo" style="display: none;">
                        <div class="row mb-2">
                            <div class="form-group">
                                <label for="parcela-0">Valor (R$)</label>
                                <input type="text" class="form-control" id="parcela-0" name="parcela-0" >
                            </div>
                        </div>
                    </span>
                </div>
                <div class="col-md-3 m-4">
                    <div class="row form-group">
                        <div class="col-5 ">
                            <div id="span-real"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="row">
                <div class="col-md-3 m-4">
                    <h2>Adicionar Campos</h2>
                    <div class="form-group">
                        <input id="quantidade" type="text" name="visor" class="form-control" oninput="campos();"/> <br/>
                    </div>
                </div>
                <div class="col-md-3 m-4">
                    <div class="form-group">
                        <div id="campos2"></div>
                    </div> 
                </div>        
            </div>
        </div>
    </div>
</div>


<script>

    const addMoreBtn = document.getElementById('add-more')
    const totalNewForms = document.getElementById('id_child_package_one_set-TOTAL_FORMS')

    addMoreBtn.addEventListener('click', add_new_children_age)


    function add_new_children_age(event) {
        if (event) {
            event.preventDefault()
        }
        const currentChildAgeForms = document.getElementsByClassName('child_age_form')
        const currentFormCount = currentChildAgeForms.length
        const formCopyTarget = document.getElementById('children_age_list')
        
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'child_age_form')
        copyEmptyFormEl.setAttribute('id', `id_child_package_one_set-${currentFormCount}-children_age`)
        const regex =  new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        formCopyTarget.append(copyEmptyFormEl)
    }


// ======================================================================

    function camposParcela() {
        // 'spantestemodelo' recebe todas as informações contidas no id="span-modelo"
        var spantestemodelo = $('#span-modelo').html();
        // transforma todos os dados de 'spamtestemodelo' em string
        var spantestemodelo_string = spantestemodelo.toString();
        // campos recebe o valor contido no id="numero-parcelas"
        var campos = $('#numero-parcelas').val();

        // individualizar id dinamicamente
        var i;
        i=1;
        var texto = '';
        while (i <= campos) {
            texto = texto + spantestemodelo_string.replace(/-0/g, '-' + i.toString())
            //converte o inteiro 'i' para string - /-0/g para que seja feita em todos que possuem -0 de forma 'g' globalmente
            console.log(i)
            i = i + 1;
        }

        // converte tudo que estiver em 'texto' conforme as configurações no id="span-real"
        $('#span-real').html(texto);

    }
    

// ======================================================================


    function campos() {
        $("#quantidade").keyup(() => {
            let quantidade = $("#quantidade").val();
            const campos2 = $("#campos2");

            if (quantidade) {
                quantidade = parseInt(quantidade);
                campos2.empty();

                for (let i=0; i < quantidade; i++) {
                    campos2.append(`<input class="form-group" id="id_child_package_one_set-${i}-children_age">`);
                }
            }
        })
    }
    

// ======================================================================

    // $(function campos() {
    //     $("#id_num_child").keyup(() => {
    //         let quantity = $("#id_num_child").val();
    //         const campos = $("#campos");
    
    //         if (quantity) {
    //             quantity = parseInt(quantity);
    //             campos.empty();
    
    //             for (let i=0; i < quantity; i++) {                
    //                 const copyEmptyFormEl = document.getElementById('campos').cloneNode(true)
    //                 copyEmptyFormEl.setAttribute('class', 'child_age_form')
    //                 copyEmptyFormEl.setAttribute('id', `id_child_package_one_set-${i}-children_age`)
    //                 const regex =  new RegExp('__prefix__', 'g')
    //                 copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
    //                 campos.append(copyEmptyFormEl)
    
    //             }
    //         }
    //     });
    // });

</script>

{% endblock %}
