{% load i18n account static crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
   
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css'%}">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <style>
        .hidden {
            display: none
        }
    </style>

    <title> {% block title %} Pacotes {% endblock title%} </title>

</head>
<body class='row justify-content-center'>
    <div class='card-header col-10 mt-4'>
        <div class="container-fluid text-align-center">
            <div class="card m-0 px-4">
                <div class="form-title m-0">
                    <nav class='mt-3'>
                        <div class="nav nav-tabs ml-2" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info"
                                role="tab" aria-controls="nav-info" aria-selected="true">Dados iniciais</a>
                            <a class="nav-item nav-link disabled" id="nav-options-tab" data-toggle="tab" href="#nav-options"
                                role="tab" aria-controls="nav-options" aria-selected="false">Passeios</a>
                            <a class="nav-item nav-link disabled" id="nav-values-tab" data-toggle="tab" href="#nav-values" role="tab"
                                aria-controls="nav-values" aria-selected="false">Hospedagens</a>
                            <a class="nav-item nav-link disabled" id="nav-local-tab" data-toggle="tab" href="#nav-local" role="tab"
                                aria-controls="nav-local" aria-selected="false">Transporte</a>
                            <a class="nav-item nav-link disabled" id="nav-data-tab" data-toggle="tab" href="#nav-data" role="tab"
                                aria-controls="nav-data" aria-selected="false">Seus dados</a>
                        </div>
                    </nav>
                </div>
                <div class="tab-content m-2" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                        <div class="header">
                            <div class='row m-2'>
                                <h4 class="p-4 pb-0">Informe os dados do período de estadia em {{ destiny }}/{{ city_destiny }}</h4>
                            </div>
                        </div>
                        <div class='row'>
                            <form action='.' method='POST' class='mb-2'>
                                {% csrf_token %}
                                <div class='row'>    
                                    <div class='col-6 mb-2'>
                                        <label for="id_date_arrive">Data da Chegada</label>
                                        <input value="{{form.date_arrive.value}}" type="date" name="date_arrive"  class="dateinput form-control mt-2" id="id_date_arrive" title="Escolha uma data">
                                    </div>
                                    <div class='col-6 mb-2'>
                                        <label for="id_date_departure">Data da Partida</label>
                                        <input type="date" name="date_departure" value="{{form.date_departure.value}}" class="dateinput form-control mt-2" id="id_date_departure">
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class='col-6 mb-2'>
                                        <label for="id_num_adults">Quantidade adultos</label>
                                        <input type="text" name="num_adults" value="{{form.num_adults.value|default:''}}" class="dateinput form-control mt-2" id="id_num_adults">
                                    </div>
                                    <div class='col-6 mb-2'>
                                        <label for="id_num_child">Quantidade crianças</label>
                                        <input type="text" name="num_child" value="{{form.num_child.value|default:''}}" class="dateinput form-control mt-2" id="id_num_child">
                                    </div>
                                </div>
                                {% if formset %}
                                <div style="display: None;" class="alert alert-primary m-1" role="alert" id="id_message">
                                    Por favor, informe as idades das crianças
                                </div>
                                <div class='row'>
                                    {{ formset.management_form }}
                                    <div id='children_age_list' class='form-inline mt-1 my-1'> 
                                        {% for form in formset %}
                                        <div class='child_age_form'>
                                            {{ form|crispy }}
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div id='empty-form' class='hidden'>{{ formset.empty_form|crispy }}</div>
                                </div>
                                {% endif %}
                                <div class='row float-end'>
                                    <div class='col-2 mt-2'>
                                        <button id='advance' type='submit' class='btn btn-primary'>Avançar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade p-4" id="nav-options" role="tabpanel" aria-labelledby="nav-options-tab">
                        <h5>Passeios</h5>
                        <p>Aqui você terá diversas atividades relacionadas a cada passeio de modo a selecionar aqueles que tiver ineteresse em aproveitar,</p>
                        <p>para isso, informe os dados iniciais e clique em avançar para continuar.</p>
                    </div>
                    <div class="tab-pane fade p-4" id="nav-values" role="tabpanel" aria-labelledby="nav-values-tab">
                        <h5>Hospedagens</h5>
                        <p>Nesta parte você terá as melhores opções de hospedagens para sua acomodação e de sua família.</p>
                    </div>
                    <div class="tab-pane fade p-4" id="nav-local" role="tabpanel" aria-labelledby="nav-local-tab">
                        <h5>Transporte</h5>
                        <p>As mais diversas opções de transporte à sua disposição, basta clicar!</p>
                    </div>
                    <div class="tab-pane fade p-4" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
                        <h5>Seus Dados</h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7534.804737919865!2d-42.490638456755626!3d-19.221288104659425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1655392543269!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  
    <script>
        $(function () {
            $("#id_num_child").keyup(() => {
                var formCopyTarget = document.getElementById('children_age_list')
                while (formCopyTarget.firstChild) {
                    formCopyTarget.removeChild(formCopyTarget.firstChild)
                }
                let quantidade = $("#id_num_child").val();
                const totalNewForms = document.getElementById('id_child_package_one_set-TOTAL_FORMS')

                message = document.getElementById('id_message')
                message.setAttribute('style', 'display:none;')
                
                if (quantidade) {
                    quantidade = parseInt(quantidade);                
                    
                    for (let i=0; i < quantidade; i++) {                    
                        message = document.getElementById('id_message')
                        message.setAttribute('style', 'display:flex;')

                        const currentChildAgeForms = document.getElementsByClassName('child_age_form')
                        const currentFormCount = currentChildAgeForms.length

                        const formCopyTarget = document.getElementById('children_age_list')
                        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
                        copyEmptyFormEl.setAttribute('class', 'child_age_form')
                        copyEmptyFormEl.setAttribute('id', `id_child_package_one_set-${currentFormCount}-children_age`)
                        const regex =  new RegExp('__prefix__', 'g')
                        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
                        totalNewForms.setAttribute('value', currentFormCount + 1)
                        formCopyTarget.append(copyEmptyFormEl)
                    }
                }
            })

            {% comment %} const advanceBtn = document.getElementById('advance')
            advanceBtn.addEventListener('click', change_class)

            function change_class(event) {
                if (event) {
                    event.preventDefault()
                }
                let cc = document.getElementById('nav-options-tab');
                cc.classList.remove('disabled');
            } {% endcomment %}
        });

    </script>

</body>

</html>