{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
    Pacotes
{% endblock title %}
{% block dashboard %}

<style>
    .hidden {
        display: none
    }
</style>

<div class="header">
    <div class="container mt-2">
        <div class="card p-2">
            <div class='row m-2'>
                <h3 class="form-title mb-1 p-0">Pacote para {{destiny}}</h3>
            </div>
            <div class='row'>
                <form action='.' method='POST' class='mb-2'>
                    {% csrf_token %}
                    <div class='row'>    
                        <div class='col-6 mb-2'>
                            <label for="id_date_arrive">Data da Chegada</label>
                            <input value="{{form.date_arrive.value}}" type="date" name="date_arrive"  class="dateinput form-control mt-2" id="id_date_arrive" title="Escolha uma data">
                        </div>
                        <div class='col-6 mb-2'>
                            <label for="id_date_departure">Data da Partida</label>
                            <input type="date" name="date_departure" value="{{form.date_departure.value}}" class="dateinput form-control mt-2" id="id_date_departure">
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-6 mb-2'>
                            <label for="id_num_adults">Quantidade adultos</label>
                            <input type="text" name="num_adults" value="{{form.num_adults.value|default:''}}" class="dateinput form-control mt-2" id="id_num_adults">
                        </div>
                        <div class='col-6 mb-2'>
                            <label for="id_num_child">Quantidade crianças</label>
                            <input type="text" name="num_child" value="{{form.num_child.value|default:''}}" class="dateinput form-control mt-2" id="id_num_child">
                        </div>
                    </div>
                    {% if formset %}
                    <div style="display: None;" class="alert alert-primary m-1" role="alert" id="id_message">
                        Por favor, informe as idades das crianças
                    </div>
                    <div class='row'>
                        {{ formset.management_form }}
                        <div id='children_age_list' class='form-inline mt-1 my-1'> 
                            {% for form in formset %}
                            <div class='child_age_form'>
                                {{ form|crispy }}
                            </div>
                            {% endfor %}
                        </div>
                        <div id='empty-form' class='hidden'>{{ formset.empty_form|crispy }}</div>
                    </div>
                    {% endif %}
                    <div class='row'>
                         <div class='mt-2'>
                            <button type='submit' class='btn btn-primary'>Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>  
    </div>
</div>


{% endblock %}