{% extends '../base.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
Pacotes
{% endblock %}
{% block base %}
<div class="container-fluid card-header">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 alert bg-success">
        <strong>Recebemos seu pacote, Obrigado por comprar conosco!</strong>
      </div>
    </div>
    {% for pk in package %}
    <h4>Destino {{ pk.destiny }}</h4>
    {% endfor %}
    <hr />
    <div class="row">
      <div class="col col-lg-12 col-md-12 col-sm-12">
        <ul class="list-group mb-1">
          <div class="row">
            <div class="col col-lg-6 col-md-6 col-sm-6">
              <h6 class="page-header">Serviços adquiridos no pacote</h6>
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-2 text-center">
              <h6 class="page-header">Valor</h6>
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-2 text-center">
              <h6 class="page-header">Quantidade</h6>
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-2 text-right">
              <h6 class="page-header">Subtotal</h6>
            </div>
          </div>
        </ul>

        <ul class="list-group mb-1">
          {% for p in pacote %}
          <li class="list-group-item px-1">
            <div class="row">
              <div class="col col-lg-6 col-md-6 col-sm-6">{{ p.trip }} - {{ p.activity }} - {{ p.catpax }}</div>
              <div class="col col-lg-2 col-md-2 col-sm-2 text-center">R$ {{ p.valor|floatformat:2 }}</div>
              <div class="col col-lg-2 col-md-2 col-sm-2 text-center">{{ p.amount }}</div>
              <div class="col col-lg-2 col-md-2 col-sm-2 text-right">R$ {{ p.price|floatformat:2 }}</div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-12 col-md-12 col-sm-12">
        <ul class="list-group">
          <li class="list-group-item" style="background-color: #039a1e; color: white; font-weight: bold;">
            <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-9">Valor total do pacote:</div>

              <div class="col-lg-3 col-md-3 col-sm-3 text-right">R$ {{ total|floatformat:2 }}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <br /><br />
    <br /><br />
  </div>
</div>
{% endblock %}