{% extends 'dashboard.html' %}


{% load i18n account static %}

{% block title %} Lista Empresas {% endblock title %}

{% block dashboard %}

<div class="container-fluid">
    <div class="card">
        <div class="container-form">
            <div class="card-header">
                <h2 class="form-title">Lista de Empresas</h2>
                <div class="table-responsive">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Empresa</th>
                                <th>Documento</th>
                                <th>Estado</th>
                                <th>Cidade</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in object %}
                            <tr>
                                <td>{{ user.company_name }}</td>
                                <td class="mask-cnpj">{{ user.document_number }}</td>
                                <td>{{ user.state }}</td>
                                <td>{{ user.city }}</td>
                                <td align="center">
                                    <a href="{% url 'company:company_edit' user.pk %}" class="btn">
                                        <i class="zmdi zmdi-edit material-icons-name"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>
<script type="text/javascript" src="http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"></script>

<script type="text/javascript">

    $('#datatablesSimple').DataTable({
        "language": {
            "sProcessing":    "Procesando...",
            "sLengthMenu":    "Exibir _MENU_ registros por página",
            "sZeroRecords":   "Nenhum resultado encontrado",
            "sEmptyTable":    "Nenhum resultado encontrado",
            "sInfo":          "Exibindo do _START_ até _END_ de um total de _TOTAL_ registros",
            "sInfoEmpty":     "Exibindo do 0 até 0 de um total de 0 registros",
            "sInfoFiltered":  "(Filtrado de um total de _MAX_ registros)",
            "sInfoPostFix":   "",
            "sSearch":        "Buscar:",
            "sUrl":           "",
            "sInfoThousands":  ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst":    "Primero",
                "sLast":    "Último",
                "sNext":    "Próximo",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending":  ": Ativar para ordenar a columna de maneira ascendente",
                "sSortDescending": ": Ativar para ordenar a columna de maneira descendente"
            }
        }
    });
    
</script>

{% endblock %}