{% extends 'base.html' %}

{% load i18n account static %}

{% block title %} Empresa {% endblock title %}

{% block base %}

<div class="container-fluid">
    <div class="justify-content-center">
        <div class="content-header">
            <div class="container">
                <div class="text-center">
                    <div class="row">
                        <section class="signup mt-5">
                            <div class="container-form">
                                <h2 class="form-title">Cadastrar Empresa</h2>
                                <form method="post">
                                    <div class="signup-content">
                                        <div class="col-6">
                                            <figure>
                                                <img src="{% static 'images/signup2-image.jpg' %}" alt="sing up image">
                                            </figure>
                                        </div>
                                        <div class="col text-start">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                        </div>
                                        <div class="col text-start">
                                            {{ formset_destiny.management_form }}
                                            {% for field in formset_destiny %}
                                            {{ field.label_tag }}
                                            {{ field.as_p }}
                                            {% endfor %}
                                            {{ formset_phone.management_form }}
                                            {% for field in formset_phone %}
                                            {{ field.label_tag }}
                                            {{ field.as_p }}
                                            {% endfor %}
                                            {{ formset_socmedia.management_form }}
                                            {% for field in formset_socmedia %}
                                            {{ field.label_tag }}
                                            {{ field.as_p }}
                                            {% endfor %}
                                            <div class="text-end"><button type="submit"
                                                    class="btn btn-primary btn-sm">Salvar</button></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}