{% extends 'dashboard.html' %}

{% load i18n account static %}

{% block title %} Cadastrar Transporte {% endblock title %} 

{% block dashboard %} 

<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header">
        <h3 class="card-title">Cadastrar Transporte</h3>
        </div>        
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}                
            <div class="card-body">                
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-floating mb-1">
                            <input class="form-control" id="id_trecho_name" name="trecho" type="text"
                                value="{{ form.trecho.value }}" />
                            {{ form.trecho.errors }}
                            <label for="id_trecho_name">Trecho</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-1">
                            <input class="form-control" id="id_acessos" name="acessos" type="number"
                                value="{{ form.acessos.value }}"/>
                            {{ form.acessos.errors }}
                            <label for="id_acessos">Acessos</label>
                        </div>
                    </div>                    
                    <div class="row ml-0">
                    <div class="col-md-1">
                        <div class="form-floating">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}