{% extends 'dashboard.html' %}

{% load i18n account static %}

{% block title %} Transporte {% endblock title %} 

{% block dashboard %}

    <h1>Deletar Trecho</h1>
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Você tem certeza que deseja excluir o trecho ? </h3>                
            </div>
            <form method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}                
                <div class="card-body">                
                    <div class="form-group">                    
                        <div class="col-md-12">
                            <div class="form-floating mb-1">
                                <input class="form-control" id="trecho" name="trecho" type="text"
                                    value="{{ transport.trecho }}"/>
                                {{ form.trecho.errors }}
                                <label for="trecho">Trecho</label>
                            </div>
                        </div>
                        <div class="row ml-0">
                            <div class="col-md-1">
                                <div class="form-floating">
                                    <button type="submit" value="Confirmar" class="btn btn-danger">Confirmar</button>        
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
            </form>
        </div>
    </div>

{% endblock %}