{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
    Usuário
{% endblock title %}
{% block dashboard %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item list-group-item-primary">                      
            <a href="{% url 'user:user_update' user.pk %}">
                <i class="fa fa-users" aria-hidden="true"></i> 
              Usuário/Email
            </a>         
          </li>
        <li class="list-group-item list-group-item-success">            
          <a href="{% url 'account_change_password' %}">
            <i class="fa fa-key" aria-hidden="true"></i>
            Senha
          </a>         
        </li>        
    </ul>
</div>

<div class="container-fluid mt-2">
    <div class="card">
        <div class="container-form">
            <div class="card-header">
                <h2 class="form-title">Editar Cadastro do Usuário</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form|crispy }}
                    <div class="col-md-12 mb-2">
                        <div class="form-group form-button">
                            <input type="submit" class="form-submit" value="Salvar" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
