{% extends 'dashboard.html' %}

{ %load bootstrap% }
{% load i18n account static %}

{% block title %} Lista de Clientes {% endblock title %} 

{% block dashboard %}

<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Clientes</h3>
        </div>
        <div class="table-responsive">
            <table id="datatablesSimple">
                <thead>
                    <tr>                        
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Cel</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>                        
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Cel</th>
                        <th>Editar</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for c in client %}
                    <tr>
                        <td>{{ c.name }}</td>
                        <td>{{ c.email }}</td>
                        <td>{{ c.cel }}</td>                        
                        <td align="center">
                            <a href="{% url 'user:user_edit_admin' user.pk %}" class="btn">
                                <i class="zmdi zmdi-edit material-icons-name"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}