{% extends 'dashboard.html' %}

{% load i18n account static crispy_forms_tags %}

{% block title %}Calendário Temporada{% endblock title %} 

{% block dashboard %}      
   
<div class="container-fluid mt-2">
    <h2>Calendário Temporada</h2>
    <div class="container-form">
        <div class="card p-4">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="contents">
                            <div id="myCalendar" style="max-width: 600px;"></div>           
                        </div>                        
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>         

    
{% endblock %}