{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
    Evento Temporada
{% endblock title %}
{% block dashboard %}

<!--Calenário datepicker-->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />  
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}" />

<!-- Bootstrap CSS -->

<script src="https://code.jquery.com/jquery-1.8.2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  

<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.pt-BR.min.js' %}"></script>
<script src="{% static 'js/disabledays.js' %}"></script>


<!--Menu-->
<nav class="navbar navbar-expand-sm navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">            
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>                           
      </ul>        
      <div class="d-flex">
          <a href="{% url 'season:event_list_create' %}">
            <button class="btn btn-outline-primary" type="submit">Eventos</button>
          </a>     
        </div>          
        <div class="d-flex">
          <a href="{% url 'season:validity_list_create' %}">
            <button class="btn btn-outline-success" type="submit">Vigências</button>
          </a>     
        </div>
        <div class="d-flex">
          <a href="{% url 'season:calendar_list' %}">
            <button class="btn btn-outline-danger" type="submit">Calendários</button>
          </a>     
        </div>
        <div class="d-flex">
          <a href="{% url 'season:season_list_create' %}">
            <button class="btn btn-outline-warning" type="submit">Temporadas</button>
          </a>     
        </div>
    </div>
  </div>
</nav>

<div class="container-fluid mt-2">
  <div class="container-form">
    <div class="card">
      <div class="card-header p-1">
        <div class="row">          
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-danger" type="submit">Novo</button>
            </li>
            <li class="nav-item">              
              <form action="">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-success" type="submit">Atualizar</button>
                  </div>
                  <select class="custom-select" name="ano" id="ano">                  
                    <option selected>Ano</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                  </select>   
                </div>                         
              </form>                            
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
          </ul>  
          <div class="col-sm-12 col-md-6">              
            <h2 class="form-title m-2">Calendário</h2>                                
          </div>
          
          <table class="table table-sm table-hover table-responsive">
            <thead>
              <tr>
                <th scope="col"><div class="datepicker1" ></div></th>
                <th scope="col"><div class="datepicker2" ></div></th>
                <th scope="col"><div class="datepicker3" ></div></th>
                <th scope="col"><div class="datepicker4" ></div></th>                
              </tr>
              <tr>
                <th scope="col"><div class="datepicker5" ></div></th>
                <th scope="col"><div class="datepicker6" ></div></th>
                <th scope="col"><div class="datepicker7" ></div></th>
                <th scope="col"><div class="datepicker8" ></div></th>                
              </tr>
              <tr>
                <th scope="col"><div class="datepicker9" ></div></th>
                <th scope="col"><div class="datepicker10" ></div></th>
                <th scope="col"><div class="datepicker11" ></div></th>
                <th scope="col"><div class="datepicker12" ></div></th>                
              </tr>              
            </thead>            
          </table>          
        </div>          
      </div>
    </div>
  </div>
</div>

<script> 

   //janeiro
  $('.datepicker1').datepicker({        
      dateFormat: "dd/mm/yy",                                              
      language: ['pt-BR'],
      todayHighlight: true,
      autoApply: true,      
      defaultViewDate: { year: 2022, month: 0, day: 1 },        
      startDate: new Date(2022, 1 -1, 1),
      endDate: new Date(2022, 1 -1,31),
      datesDisabled: intervalos1,
                            
  });

  //fevereiro
  $('.datepicker2').datepicker({
      dateFormat: "dd/mm/yy",                                              
      language: ['pt-BR'],
      todayHighlight: true,
      autoApply: true,
      defaultViewDate: { year: 2022, month: 1, day: 1 },        
      startDate: new Date(2022, 2 -1, 1),
      endDate: new Date(2022, 2 -1,28),
      datesDisabled: intervalos2,           
                          
  });

  //março 
  $('.datepicker3').datepicker({
      dateFormat: "dd/mm/yy",                                              
      language: ['pt-BR'],
      todayHighlight: true,
      autoApply: true,
      defaultViewDate: { year: 2022, month: 2, day: 1 },        
      startDate: new Date(2022, 3 -1, 1),
      endDate: new Date(2022, 3 -1,31),
      datesDisabled: intervalos3,
      
                          
  });

  //abril
  $('.datepicker4').datepicker({
      dateFormat: "dd/mm/yy",                                              
      language: ['pt-BR'],
      todayHighlight: true,
      autoApply: true,
      defaultViewDate: { year: 2022, month: 3, day: 1 },        
      startDate: new Date(2022, 4 -1, 1),
      endDate: new Date(2022, 4 -1,30),
      datesDisabled: intervalos4,
      
                          
  });

  //maio
  $('.datepicker5').datepicker({
      dateFormat: "dd/mm/yy",                                              
      language: ['pt-BR'],
      todayHighlight: true,
      autoApply: true, 
      defaultViewDate: { year: 2022, month: 4, day: 1 },            
      startDate: new Date(2022, 5 -1, 1),
      endDate: new Date(2022, 5 -1,31),
      datesDisabled: intervalos5,
      

      beforeShowDay: function(date){
          if (date.getMonth() == 4){
              switch (date.getDate()){
                  case 26:
                      return {
                      tooltip: 'Diamantina',
                      classes: 'active'
                      };
                      case 27:
                      return {
                      tooltip: 'Diamantina',
                      classes: 'active'
                      };    
                  
                  case 12:
                      return "green";
              }        
          }                                    
      }            
     
                          
  });

  //junho 
  $('.datepicker6').datepicker({
      dateFormat: "dd/mm/yy",                                              
      language: ['pt-BR'],
      todayHighlight: true,
      autoApply: true,
      defaultViewDate: { year: 2022, month: 5, day: 1 },        
      startDate: new Date(2022, 6 -1, 1),
      endDate: new Date(2022, 6 -1,30),
      datesDisabled: intervalos6,
     
                          
  });

  //julho 
  $('.datepicker7').datepicker({
      dateFormat: "dd/mm/yy",                                              
      language: ['pt-BR'],
      todayHighlight: true,
      autoApply: true,
      defaultViewDate: { year: 2022, month: 6, day: 1 },        
      startDate: new Date(2022, 7 -1, 1),
      endDate: new Date(2022, 7 -1,31),
      datesDisabled: intervalos7,
                          
  });

  //agosto 
  $('.datepicker8').datepicker({
      dateFormat: "dd/mm/yy",                                              
      language: ['pt-BR'],
      todayHighlight: true,
      autoApply: true,   
      defaultViewDate: { year: 2022, month: 7, day: 1 },     
      startDate: new Date(2022, 8 -1, 1),
      endDate: new Date(2022, 8 -1,31),
      datesDisabled: intervalos8,
     
                          
  });

  //setembro 
  $('.datepicker9').datepicker({
      dateFormat: "dd/mm/yy",                                              
      language: ['pt-BR'],
      todayHighlight: true,
      autoApply: true,   
      defaultViewDate: { year: 2022, month: 8, day: 1 },     
      startDate: new Date(2022, 9 -1, 1),
      endDate: new Date(2022, 9 -1,30),
      datesDisabled: intervalos9,
     
                          
  });

  //outubro 
  $('.datepicker10').datepicker({
      dateFormat: "dd/mm/yy",                                              
      language: ['pt-BR'],
      todayHighlight: true,
      autoApply: true,  
      defaultViewDate: { year: 2022, month: 9, day: 1 },      
      startDate: new Date(2022, 10 -1, 1),
      endDate: new Date(2022, 10 -1,31),
      datesDisabled: intervalos10,       
                          
  });

  //novembro
  $('.datepicker11').datepicker({
      dateFormat: "dd/mm/yy",                                              
      language: ['pt-BR'],
      todayHighlight: true,
      autoApply: true, 
      defaultViewDate: { year: 2022, month: 10, day: 1 },       
      startDate: new Date(2022, 11 -1, 1),
      endDate: new Date(2022, 11 -1,30),
      datesDisabled: intervalos11,       
                          
  }); 

  //dezembro
  $('.datepicker12').datepicker({
      dateFormat: "dd/mm/yy",                                              
      language: ['pt-BR'],
      todayHighlight: true,
      autoApply: true,
      defaultViewDate: { year: 2022, month: 11, day: 1 },        
      startDate: new Date(2022, 12 -1, 1),
      endDate: new Date(2022, 12 -1,31),
      datesDisabled: intervalos12,       
                          
  }); 
  
</script> 
{% endblock %}

