{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
    Calendário de Eventos
{% endblock title %}
{% block dashboard %}

    <!--Calenário datepicker-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />    
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}" />
    
    <script src="https://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="https://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>    
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.pt-BR.min.js' %}"></script>

    <!--Calendário multidatepicker-->
    <link rel="stylesheet" href="{% static 'css/multidatespicker.css' %}" />
    
    
    <script src="https://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>    
    <script src="{% static 'js/multidatespicker.js' %}"></script>
    

<div class="container-fluid mt-2">
    <div class="container-form">
        <div class="card">
            <div class="card-header p-1">
                <div class="row">                       
                    <div class="col-sm-12 md-6">
                        <form method="POST">                            
                            <div class="modal fade"
                                    id="exampleModal"
                                    tabindex="-1"
                                    role="dialog"
                                    aria-labelledby="exampleModalLabel"
                                    aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Novo Evento Temporada</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        
                                        <div class="modal-body">                                                                                            
                                            {% csrf_token %}
                                            {{ form.non_field_errors }}
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="">Evento</span>
                                                </div>
                                                <input id="name_event" class="textinput textInput form-control" type="text" name="name_event" required="">                           
                                            </div>                        
                                            <div class="input-group input-daterange">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="">Data inicial e Data final</span>
                                                </div>
                                                <input id="date_init" class="textinput textInput form-control" type="text" name="date_init" required="">
                                                <input id="date_fin" class="textinput textInput form-control" type="text" name="date_fin" required="">                                    
                                            </div>
                                            <!--{{ form|crispy }}-->
                                            <div class="form-group form-button">
                                                <input type="submit"
                                                    name="signup"
                                                    id="signup"
                                                    class="form-submit"
                                                    value="Salvar"/>
                                            </div>
                                            
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                        </form>              
                        <div id="calendar"></div>
                            
                        
                        <!--             
                        <div style="margin-top: 100px;">                            
                            {{ form|crispy }}                            
                        </div>
                        -->            
                    </div>       
                </div>
            </div>
        </div>
    </div>    
</div>
<script>
    $( "#calendar" ).multiDatesPicker({
        altField: '#date_event',
        monthNames: [ "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
                    "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro" ],
        dayNamesMin: [ "Dom", "seg", "Ter", "Qua", "Qui", "Sex", "Sáb" ],
        numberOfMonths: [3,4],
        //mode: 'daysRange',
	    //autoselectRange: [0,5],                        
        dateFormat: "dd/mm/yy",
        defaultDate: '1/1/2022',
        minDate: new Date(2022, 1 - 1, 1),        
           
    });                
    //Janeiro
   //$('.picker').multiDatesPicker({
   //     minDate: new Date(2022, 1 - 1, 1),
   //     dateFormat: "dd/mm/yy",
   //     numberOfMonths: [ 2, 3 ],                   
   //     language: ['pt-BR'],
   //     todayHighlight: true,
   //     autoApply: true,
                          
  //  });
    
    
    
</script>
{% endblock %}
