{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
    Calendário de Temporadas
{% endblock title %}
{% block dashboard %} 

<!--style>
    .datepicker{
    background-color:red !important;
    }
</style-->   

<!--Calenário datepicker-->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />  
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}" />

<!--
<link rel="stylesheet/less" type="text/css" href="{% static 'css/less/datepicker.less' %}" />

-->
<!-- Bootstrap CSS -->

<script src="https://code.jquery.com/jquery-1.8.2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  

<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.pt-BR.min.js' %}"></script>
<script src="{% static 'js/disabledays.js' %}"></script>

<script src="https://code.jquery.com/jquery-1.8.2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  

<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.pt-BR.min.js' %}"></script>
<script src="{% static 'js/disabledays.js' %}"></script>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item list-group-item-primary">
          <a href="{% url 'season:calendar_event' %}">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            Calendário
          </a>         
        </li>
        <li class="list-group-item list-group-item-success">
            <a href="{% url 'season:calendar_create' %}">
                <i class="fa fa-globe" aria-hidden="true"></i>
             Evento
            </a>                 
        </li>
        <li class="list-group-item ">
            <a href="{% url 'season:season_list_create' %}">
                <i class="fas fa-cloud-sun-rain"></i>
             Temporadas  
          </a>
        </li>
        <li class="list-group-item list-group-item-warning">
            <a href="{% url 'season:validity_list_create' %}">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Vigência  
          </a>
        </li>        
    </ul>
</div>
<div class="container-fluid mt-2">
    <div class="container-form">
        <div class="card">
            <div class="card-header p-1">
                <div class="row">                       
                    <div class="col-sm-12 md-6">
                        <h2 class="form-title m-2">Calendário de Temporadas </h2>
                        <div class="table-responsive">
                            <table id="myTable1" class="table table-striped table-bordered mt-5">                            
                                <thead>
                                  <tr>
                                    <th scope="col">Temporada</th>
                                    <th scope="col">Destino Turístico</th>                                                                 
                                    <th scope="col">Vigência</th>
                                    <th scope="col">Mostrar Datas</th>
                                  </tr>
                                </thead>
                                <tbody>                                    
                                    {% for e in object_list %}
                                        <tr> 
                                            <td align="center">{{ e.season.name }}</td>
                                            <td>{{ e.destiny.state }} - {{ e.destiny.city }} - {{ e.destiny.name }}</td>                                                                                     
                                            <td align="center">{{ e.validity }}</td>
                                            <td align="center">                                                
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </button>
                                                
                                                <!-- Modal -->                                                
                                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-sm">
                                                        <div class="modal-content">                                                            
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Calendário</h5><br>
                                                            
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <h5 class="modal-title" id="exampleModalLabel">Evento - {{e.name_event}}</h5>
                                                            <div class="modal-body">                                                                
                                                                <div class="datepicker5" ></div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </td>                                                                                                       
                                        </tr>                                
                                    {% endfor %}                           
                                </tbody>
                            </table>                              
                        </div>                                                                    
                        <br>               
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<script> 

     //janeiro
    $('.datepicker1').datepicker({        
        dateFormat: "dd/mm/yy",                                              
        language: ['pt-BR'],
        todayHighlight: true,
        autoApply: true,
        datesDisabled: intervalos,
        defaultViewDate: { year: 2022, month: 0, day: 1 },        
        startDate: new Date(2022, 1 -1, 1),
        endDate: new Date(2023, 1 -1,31),
        
        
                        
    });

    //fevereiro
    $('.datepicker2').datepicker({
        dateFormat: "dd/mm/yy",                                              
        language: ['pt-BR'],
        todayHighlight: true,
        autoApply: true,
        defaultViewDate: { year: 2022, month: 1, day: 1 },        
        startDate: new Date(2022, 2 -1, 1),
        endDate: new Date(2023, 2 -1,28),
        datesDisabled: intervalos1       
                            
    });

    //março 
    $('.datepicker3').datepicker({
        dateFormat: "dd/mm/yy",                                              
        language: ['pt-BR'],
        todayHighlight: true,
        autoApply: true,
        defaultViewDate: { year: 2022, month: 1, day: 1 },        
        startDate: new Date(2022, 3 -1, 1),
        endDate: new Date(2023, 3 -1,31),
        datesDisabled: intervalos2
                            
    });

    //abril
    $('.datepicker4').datepicker({
        dateFormat: "dd/mm/yy",                                              
        language: ['pt-BR'],
        todayHighlight: true,
        autoApply: true,
        defaultViewDate: { year: 2022, month: 2, day: 1 },        
        startDate: new Date(2022, 4 -1, 1),
        endDate: new Date(2023, 4 -1,30),
        datesDisabled: intervalos3
                            
    });

    //maio
    $('.datepicker5').datepicker({
        dateFormat: "dd/mm/yy",                                              
        language: ['pt-BR'],
        todayHighlight: true,
        autoApply: true,
        defaultViewDate: { year: 2022, month: 3, day: 1 },        
        startDate: new Date(2022, 5 -1, 1),
        endDate: new Date(2022, 5 -1,31),
        datesDisabled: intervalos4,

        beforeShowDay: function(date){
            if (date.getMonth() == 4){
                switch (date.getDate()){
                    case 26:
                        return {
                        tooltip: 'Diamantina',
                        classes: 'active'
                        };
                        case 27:
                        return {
                        tooltip: 'Diamantina',
                        classes: 'active'
                        };    
                    
                    case 12:
                        return "green";
                }        
            }                                    
        }            
       
                            
    });

    //junho 
    $('.datepicker6').datepicker({
        dateFormat: "dd/mm/yy",                                              
        language: ['pt-BR'],
        todayHighlight: true,
        autoApply: true,
        defaultViewDate: { year: 2022, month: 0, day: 4 },        
        startDate: new Date(2022, 6 -1, 1),
        endDate: new Date(2023, 6 -1,30),
       
                            
    });

    //julho 
    $('.datepicker7').datepicker({
        dateFormat: "dd/mm/yy",                                              
        language: ['pt-BR'],
        todayHighlight: true,
        autoApply: true,
        defaultViewDate: { year: 2022, month: 0, day: 5 },        
        startDate: new Date(2022, 7 -1, 1),
        endDate: new Date(2023, 7 -1,31),
       
                            
    });

    //agosto 
    $('.datepicker8').datepicker({
        dateFormat: "dd/mm/yy",                                              
        language: ['pt-BR'],
        todayHighlight: true,
        autoApply: true,   
        defaultViewDate: { year: 2022, month: 0, day: 6 },     
        startDate: new Date(2022, 8 -1, 1),
        endDate: new Date(2023, 8 -1,31),
       
                            
    });

    //setembro 
    $('.datepicker9').datepicker({
        dateFormat: "dd/mm/yy",                                              
        language: ['pt-BR'],
        todayHighlight: true,
        autoApply: true,   
        defaultViewDate: { year: 2022, month: 0, day: 7 },     
        startDate: new Date(2022, 9 -1, 1),
        endDate: new Date(2023, 9 -1,30),
       
                            
    });

    //outubro 
    $('.datepicker10').datepicker({
        dateFormat: "dd/mm/yy",                                              
        language: ['pt-BR'],
        todayHighlight: true,
        autoApply: true,  
        defaultViewDate: { year: 2022, month: 0, day: 8 },      
        startDate: new Date(2022, 10 -1, 1),
        endDate: new Date(2023, 10 -1,31),       
                            
    });

    //novembro
    $('.datepicker11').datepicker({
        dateFormat: "dd/mm/yy",                                              
        language: ['pt-BR'],
        todayHighlight: true,
        autoApply: true, 
        defaultViewDate: { year: 2022, month: 0, day: 9 },       
        startDate: new Date(2022, 11 -1, 1),
        endDate: new Date(2023, 11 -1,30),       
                            
    }); 

    //dezembro
    $('.datepicker12').datepicker({
        dateFormat: "dd/mm/yy",                                              
        language: ['pt-BR'],
        todayHighlight: true,
        autoApply: true,
        defaultViewDate: { year: 2022, month: 0, day: 10 },        
        startDate: new Date(2022, 12 -1, 1),
        endDate: new Date(2023, 12 -1,31),       
                            
    });
    
    
    
</script> 
{% endblock %}



                