  {% extends 'dashboard.html' %}
  {% load i18n account static crispy_forms_tags %}
  {% load static %}
  {% block title %}
      Calendário Temporada
  {% endblock title %}
  {% block dashboard %}
  
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="{% static 'css/jquery-ui.multidatespicker.css' %}" />
    <script src="https://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="https://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script src="{% static 'js/jquery-ui.multidatespicker.js' %}"></script>
   

    <div class="container-fluid mt-2">
        <div class="container-form">
            <div class="card">
                <div class="card-header p-1">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <h2 class="form-title m-2">Calendário Temporada</h2>
                        </div>
                        <div id="bottom_list"
                                class="col-sm-12 col-md-6">
                            <div class="row my-3">
                                <form method="POST">
                                    <a data-toggle="modal" data-target="#exampleModal" class="btn float-end">
                                        </a>
                                    <div class="modal fade"
                                            id="exampleModal"
                                            tabindex="-1"
                                            role="dialog"
                                            aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    {% csrf_token %}
                                                    {{ form.non_field_errors }}
                                                    {{ form|crispy }}                                                
                                                </div>
                                                <div class="modal-footer">
                                                    <div class="form-group form-button">
                                                        <input type="submit" class="form-submit" value="Salvar" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="myTable1" class="table table-striped table-bordered mt-5">
                            <thead>
                                <tr>
                                    <th>Nome do Evento</th>
                                    <th>Data do Evento</th>
                                    <th>Editar</th>
                                    <th>Deletar</th>                                
                                </tr>
                            </thead>
                            <tbody>                           
                                {% for event in object_list %}
                                    <tr>
                                        <td align="center">{{ event.name_event }}</td>
                                        <td align="center">{{ event.date_event }}</td>
                                        <td align="center">
                                            <a href="{% url 'season:season_update' event.id %}" class="btn">
                                                <i class="fas fa-user-edit"></i>
                                            </a>
                                        </td>
                                        <td align="center">
                                            <a href="{% url 'season:season_delete' event.pk %}" class="btn">
                                                <i class="fas fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>                                
                                {% endfor %}                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="container-fluid mt-2">
        <div class="container-form">
            <div class="card">
                <div class="card-header p-1">
                    <div class="row">                       
                        <div class="col-sm-12 md-6"> 
                        <!--form method="POST"--> 
                            <div id="calendar"></div>   
                            <p>Evento: <input type="text" id="eventField"></p>
                            <p>Data: <input type="text" id="altField"></p>           
                            
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <!--{{ form|crispy }}-->
                            <div class="form-group form-button">
                                <input type="submit"
                                    name="signup"
                                    id="signup"
                                    class="form-submit"
                                    value="Salvar no BD"/>
                            </div>
                        <!--/form--> 
                    </div>
                    </div>
                    <script>                        
                        $( "#calendar" ).multiDatesPicker({
                        altField: '#altField',
                        monthNames: [ "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro" ],
                        dayNamesMin: [ "Dom", "seg", "Ter", "Qua", "Qui", "Sex", "Sáb" ],
                        numberOfMonths: 3,
                        selectOtherMonths: true,
                        showOtherMonths: true,
                          
                    });
                    
                    /*$("#calendar1").datepicker( { 

                        dateFormat: 'dd/mm/yy', 
                        closeText: 'Fechar',    
                        prevText: '<Anterior',    
                        nextText: 'Próximo>',    
                        currentText: 'Hoje',    
                        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],    
                        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],    
                        dayNames: ['Domingo','Segunda-feira','Terça-feira','Quarta-feira','Quinta-feira','Sexta-feira','Sábado'],    
                        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'],    
                        dayNamesMin: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'],    
                        weekHeader: 'Sm',    
                        dateFormat: 'dd/mm/yy',    
                        firstDay: 0,    
                        isRTL: false,    
                        showMonthAfterYear: false,    
                        yearSuffix: '' 
                    });*/

                   
                    </script>  
                </div>
            </div>
        </div>
    </div>
    
      
{% endblock %}
