{% extends 'dashboard.html' %}

{% load i18n account static crispy_forms_tags %}

{% block title %}
Evento
{% endblock title %}

{% block dashboard %}

<div class="p-2">
    <h2 class="form-title">Novo Evento</h2>
    <form method="POST" enctype="multipart/form-data">
        <div class="col-md-12 mb-2">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form|crispy }}
        </div>
        <div class="modal-footer">
            <div class="col-3 col-lg-1 mt-2">
                <input type="submit" name="signup" id="signup" class="btn btn-primary btn-sm" value="Salvar">
            </div>
        </div>
    </form>
</div>


{% endblock %}