{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
    Evento
{% endblock title %}
{% block dashboard %}    
<!--
<script src="{% static 'js/jquery-1.8.2.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>    
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.pt-BR.min.js' %}"></script>
-->

<div class="container-fluid mt-2">
    <div class="card">
        <div class="container-form">
            <div class="card-header">
                <h2 class="form-title">Novo Evento</h2>
                <form method="POST" enctype="multipart/form-data">
                    <div class="col-md-12 mb-2">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form.media }} 
                        {{ form.as_p }}                        
                    </div>              
                    <div class="col-md-12 mb-2">
                        <div class="form-group form-button">
                            <input type="submit" class="form-submit" value="Salvar" />
                        </div>
                    </div>                    
                </form>
            </div>            
        </div>
    </div>    
</div>

{% endblock %}
