{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Período{% endblock title %} 

{% block dashboard %}


<div class="container-fluid mt-2">
    <div class="card">
        <div class="container-form">
            <div class="card-header">
                <h2 class="form-title">Você tem certeza que deseja excluir este Período?</h2>
                <form method="POST" class="register-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form|crispy }}
                    <div class="form-group form-button">
                        <button type="submit" value="Confirmar" class="btn btn-danger">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}