{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
Lista de Temporadas
{% endblock title %}
{% block dashboard %}


<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
            </ul>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar com grupos de botões">
                <div class="btn-group mr-2" role="group" aria-label="Primeiro grupo">
                    <a href="{% url 'season:validity_list_create' %}">
                        <button class="btn bg-gradient-olive" type="submit">Vigências</button>
                    </a>
                </div>

                <div class="btn-group mr-2" role="group" aria-label="Segundo grupo">
                    <a href="{% url 'season:season_list_create' %}">
                        <button class="btn bg-gradient-olive" type="submit">Temporadas</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid mt-2">
    <div class="container-form">
        <div class="card">
            <div class="card-header p-1">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h2 class="form-title m-2">Lista de Temporadas</h2>
                    </div>
                    <div id="bottom_list" class="col-sm-12 col-md-6">
                        <div class="row my-3">
                            <form method="POST">
                                <a data-toggle="modal" data-target="#exampleModal" class="btn float-end">
                                    <i class="fas fa-plus-circle fa-2x" aria-hidden="true"></i>
                                </a>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Nova Temporada</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% csrf_token %}
                                                {{ form.non_field_errors }}
                                                {{ form|crispy }}

                                            </div>
                                            <div class="modal-footer">
                                                <div class="form-group form-button">
                                                    <input type="submit" name="signup" id="signup" class="form-submit"
                                                        value="Salvar" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="myTable1" class="table table-striped table-bordered mt-5">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Destino Turístico</th>
                                <th>Vigência</th>
                                <th>Agência</th>
                                <th>Vender</th>
                                <th>Eventos</th>
                                <th>Editar</th>
                                <th>Deletar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in object_list %}
                            <tr>
                                <td>{{ s.name }}</td>
                                <td>{{ s.destiny.name }} - {{ s.destiny.state }}</td>
                                <td align="center">{{ s.validity }}</td>
                                <td align="center">
                                    {% if s.active_company %}
                                    <i class="fas fa-user-check"></i>
                                    {% else %}
                                    <i class="fas fa-user-times"></i>
                                    {% endif %}
                                </td>
                                <td align="center">
                                    {% if s.active_sell %}
                                    <i class="fas fa-user-check"></i>
                                    {% else %}
                                    <i class="fas fa-user-times"></i>
                                    {% endif %}
                                </td>
                                <td align="center">
                                    <a href="{% url 'season:event_list' s.pk %}" class="btn">
                                        <i class="fas fa-calendar-check"></i>
                                    </a>
                                </td>
                                <td align="center">
                                    <a href="{% url 'season:season_update' s.pk %}" class="btn">
                                        <i class="fas fa-user-edit"></i>
                                    </a>
                                </td>
                                <td align="center">
                                    <a href="{% url 'season:season_delete' s.pk%}" class="btn">
                                        <i class="fas fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <script type="text/javascript">
                                function myFunction() {
                                    window.open("http://127.0.0.1:8000/season/3/update", "_blank", "width=600, height=400");
                                }
                            </script>
                            {% endfor %}
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>



{% endblock %}