{% extends 'dashboard.html' %}
{% load i18n account static crispy_forms_tags %}
{% block title %}
    Temporada
{% endblock title %}
{% block dashboard %}


<div class="container-fluid mt-2">
    <div class="card">
        <div class="container-form">
            <div class="card-header">
                <h2 class="form-title">Vigência</h2>
                <form method="POST" class="register-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row form-group form-button ">
                        <div class="col-md-1 p-1">
                            <input type="submit" class="btn btn-primary" value="Salvar"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
