{% load i18n account static crispy_forms_tags %}
{% block package_trips %}


    {% for t in trips %}
    <div class='justify-content-center'>
        <h4 class="form-title mb-0 p-2" align="center">{{ t.name }}<h4>
        <hr class='m-0'>
        <div class="row card-header mt-3">
            {% for a in activities %}
                {% if t == a.trip %}
                <div class="col-sm-12 col-md-6">
                    <h4 align="center"><b><i>{{ a.name }}</i></b><h4>
                    <div class='row'>
                        {% if a.image %}
                        <img src="{{ a.image.url }}" class="img-responsive mb-2" height="300px" style="border-radius: 1%;" max-width="450px" align="center"/>
                        {% endif %}
                    </div>
                    <div class='row'>
                        <h6 class='px-3 mt-2' style='text-align:city justify; font-weight: normal;'><i>{{ a.description|truncatewords:50 }}</i></h6>
                    </div>
                    <div class="row ml-2 trip_group">
                        {% for p in activities_prices %}
                        {% if a == p.activity %}
                        <div class='col-sm-6 col-md-6 px-1 py-2'>
                            <div class="row p-0">
                                <input type="checkbox" class="col-1" value="" id="{{ p.id }}"/>
                                <h6 class='col-11 px-2 m-0'>{{ p.catpax }} - R$ {{ p.price}}</h6>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    {% comment %} <div class='row'>
        {{ formset_trips.management_form }}
        <div id='trip_package_list' class='form-inline mt-1 my-1 justify-content-center'> 
            {% for field in formset_trips %}
            <div class='price_package_form'>
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field|crispy }}
            </div>
            {% endfor %}
        </div>
        <div id='empty-price-form' class='hidden'>{{ formset_trips.empty_form }}</div>
    </div> {% endcomment %}
    
    <div class='row'>
        <div class='col-12 my-2'>
            <button id='advance2' type='submit' class='btn btn-primary float-end'>Avançar</button>
        </div>
    </div>


{% endblock %}

{% comment %}

1° coletar todos os ids dos preços das atividades disponíveis
2° criar campo com flag para cada id usando formset
3° salvar arquivo

{% endcomment %}
{% block js %}
    <script type="text/javascript">
        var prices = JSON.parse('{{ len_prices|escapejs }}');

        const start_date = $('#id_date_arrive').val();
        const end_date = $('#id_date_departure').val();
        const url = "{% url 'package:package_accommodation' city_destiny="+b_url.innerText+" %}";
        const city_destiny = b_url.innerText;

        $("#advance2").click(function (event) {
            event.preventDefault();

            var lista = []
            var checkeds = document.querySelectorAll('input[type=checkbox]:checked');
            for (var i = 0; i < checkeds.length; i++) {
                lista.push(checkeds[i].id);
            }
            console.log('lista',lista);

            //const totalNewforms = document.getElementById('packagetrips_set-TOTAL_FORMS')

            //list = [1,2]
            for (var i = 0; i < lista.length; i++) {
                id = (`${lista[i]}`)

               const formCopyTarget = document.getElementById('trip_package_list');
               const emptyForm = document.getElementById('empty-price-form').cloneNode(true);
               emptyForm.setAttribute('class', 'formset_trips');
               emptyForm.setAttribute('id', `id_packagetrips_set-${lista[i]}`);
               formCopyTarget.append(emptyForm);


               //NÃO APAGAR
               //$('#id_packagetrips_set-__prefix__-option').val('22')
               //document.getElementById('id_packagetrips_set-__prefix__-option').value = id;


               //deu
               //var z = document.getElementById('id_packagetrips_set-__prefix__-option')
               //z.setAttribute('id', `id_packagetrips_set-${id}-option`)
               //z.setAttribute('name', `packagetrips_set-${id}-option`)
               //document.getElementById(`id_packagetrips_set-${id}-option`).value = id;
               //console.log(z)

               //foreignkey
               var z = document.getElementById('id_packagetrips_set-__prefix__-id_price')
               z.setAttribute('id', `id_packagetrips_set-${lista[i]}-id_price`)
               z.setAttribute('name', `packagetrips_set-${lista[i]}-id_price`)
               document.getElementById(`id_packagetrips_set-${lista[i]}-id_price`).value=id



               //getElementsByName('packagetrips_set-__prefix__-option').value = id;

               //b.setAttribute('id', `id_packagetrips_set-${lista[i]}-option`)
               //b.getElementById('id_packagetrips_set-__prefix__-option');

               //document.setAttribute('id', `id_packagetrips_set-${lista[i]}-id_price`);
               //document.getElementById(`id_packagetrips_set-0-id_price`).getElementsByTagName('option').innerHTML=id

               //document.getElementById(`id_packagetrips_set-0-id_price`).getElementsByTagName('option').innerHTML=id
               //var a = document.getElementById(`id_packagetrips_set-${lista[i]}-id_price`).getElementsByTagName('input').innerHTML=(`${lista[i]}`)

               //var f = document.getElementById(`id_packagetrips_set-${lista[i]}-id_price`).getElementsByTagName('option');
               //f.item(`${lista[i]}`).selected = 'selected';

               //const select = document.getElementById(`id_packagetrips_set-0-id_price`).getElementsByTagName('option').innerHTML=id;

               //select.setAttribute('id', `id_packagetrips_set-${id}-id_price`);
               //const regex = new RegExp('__prefix__', 'g')

               //document.getElementById(`id_packagetrips_set-${lista[i]}-id_price`).getElementsByTagName('option').value=id.selected = 'selected';
               //a = document.getElementsByTagName('select').selectedIndex=[i]
               //console.log(a)

               //document.getElementById(`id_packagetrips_set-${lista[i]}-id_price`).getElementsByTagName('option').value=id;

               //z = document.getElementById(`id_packagetrips_set-${lista[i]}-id_price`).getElementsByTagName('option').value='22';
               //console.log(z)

               //var x = document.getElementById(`id_packagetrips_set-${lista[i]}-id_price`).options[0].selected = 'selected';
               //packagetrips_set-__prefix__-id_price
               //var x = document.getElementById(`id_packagetrips_set-${lista[i]}-id_price`).options[1]
               //console.log(x)
               //var id_price = document.getElementById(`id_packagetrips_set-${lista[i]}-id_price`).value=id
               
               
               
               //console.log(emptyForm)
            }

            //emptyForm.setAttribute('id',`packagetrips_set-${list[i]}-id_price`);

            //a = JSON.stringify(list);
            //console.log(a);

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    start_date : start_date,
                    end_date : end_date,
                    city_destiny : city_destiny,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
                },
                success: function(data){
                    $('#id_accommodation').html(data);
                    document.getElementById('accommodation-tab').removeAttribute("disabled");
                    document.getElementById('accommodation-tab').click();  
                },
                failure: function(data) { 
                    alert("Ocorreu um erro, realize a operação novamente");
                }
            });
        });
    </script>

{% endblock js %}