{% load i18n account static crispy_forms_tags %}
{% block package_trips %}


<forms method='POST'>
    {% for t in trips %}
    <div class='row'>
        <div class="col-2 row mt-1 mb-0 p-1">
            <h5 class='m-0'><i>Passeio:</i></h5>
        </div>
        <div class="col-10">
            <h4 class="form-title mb-0 p-2" align="left">{{ t.name }}<h4>                            
        </div>
        <div class="row mt-2">
            {% for a in activities %}
                {% if t == a.trip %}
                <div class="col-sm-12 col-md-6">
                    <h4 align="center"><b><i>{{ a.name }}</i></b><h4>
                    <div class='row'>
                        {% if a.image %}
                        <img src="{{ a.image.url }}" class="img-responsive mb-2" height="300px" style="border-radius: 1%;" max-width="450px" align="center"/>
                    </div>
                    <div class='row'>
                        <h6 class='px-3 mt-2' style='text-align:city justify; font-weight: normal;'><i>{{ a.description|truncatewords:50 }}</i></h6>
                    </div>
                    <div class="row ml-2">
                    {% for p in activities_prices %}
                        {% if a == p.activity %}
                        <div class='col-sm-6 col-md-6 px-1 py-2'>
                            <div class="row p-0">
                                <input type="checkbox" class="col-1" value="" id="flexCheckDefault">
                                <h6 class='col-11 px-2 m-0'>{{ p.catpax }} - R$ {{ p.price}}</h6>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class='row'>
        <div class='col-12 my-2'>
            <button id='advance2' type='submit' class='btn btn-primary float-end'>Avançar</button>
        </div>
    </div>
</form>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        {% comment %} const b_url = document.getElementById('city_destiny'); {% endcomment %}
        
        $("#advance2").click(function (event) {
            event.preventDefault();
            const start_date = $('#id_date_arrive').val();
            const end_date = $('#id_date_departure').val();
            const url = "{% url 'package:package_accommodation' city_destiny="+b_url.innerText+" %}";
            const city_destiny = b_url.innerText;

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    start_date : start_date,
                    end_date : end_date,
                    city_destiny : city_destiny,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
                },
                success: function(data){
                    $('#id_accommodation').html(data);
                    document.getElementById("accommodation-tab").removeAttribute("disabled");
                    document.getElementById('accommodation-tab').click();
                }
            });
        });

        {% comment %} const advanceBtn2 = document.getElementById('advance2')
        advanceBtn2.addEventListener('click', change_class2) {% endcomment %}


        {% comment %} function change_class2(event) {
            event.preventDefault()
            document.getElementById("accommodation-tab").removeAttribute("disabled");
            document.getElementById('accommodation-tab').click();
        };        {% endcomment %}

    </script>

{% endblock js %}