{% load i18n account static crispy_forms_tags %}
{% block package_accommodation %}


<forms method='POST'>

    <div class='row'>
        <div class="col-2 row mt-1 mb-0 p-1">
            <h5 class='m-0' align="right"><i>Hospedagem:</i></h5>
        </div>
        <div class="col-10">
            <h4 class="form-title mb-0 p-2" align="left">Nome<h4>                            
        </div>
        <div class="row mt-2">
        </div>
    </div>

    <div class='row'>
        <div class='col-12 my-2'>
            <button id='advance3' type='submit' class='btn btn-primary float-end'>Avançar</button>
        </div>
    </div>
</form>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $("#advance3").click(function (event) {
            event.preventDefault();
            const start_date = $('#id_date_arrive').val();
            const end_date = $('#id_date_departure').val();
            const url = "{% url 'package:package_transport' city_destiny="+b_url.innerText+" %}";
            const city_destiny = b_url.innerText;

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    start_date : start_date,
                    end_date : end_date,
                    city_destiny : city_destiny,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
                },
                success: function(data){
                    $('#id_transport').html(data);
                    document.getElementById("transport-tab").removeAttribute("disabled");
                    document.getElementById('transport-tab').click();
                }
            });
        });


        {% comment %} const b_url = document.getElementById('city_destiny');
        const url = ;

        const advanceBtn3 = document.getElementById('advance3')
        advanceBtn3.addEventListener('click', change_class3)
        
        function change_class3(event) {
            event.preventDefault()
            document.getElementById("transport-tab").removeAttribute("disabled");
            document.getElementById('transport-tab').click();
        }; {% endcomment %}
       
    </script>

{% endblock js %}