{% load i18n account static crispy_forms_tags %}
{% block package_accommodation %}



    <div class='row'>
        <div class="col-2 row mt-1 mb-0 p-1">
            <h5 class='m-0' align="right"><i>Hospedagem:</i></h5>
        </div>
        <div class="col-10">
            <h4 class="form-title mb-0 p-2" align="left">Nome<h4>
        </div>
        <div class="row mt-2">
        </div>
    </div>
    <div class="accommodation_group">
        <div class='col-sm-6 col-md-6 px-1 py-2'>
            <div class="row p-0">
                <input type="checkbox" class="col-1 check" value="" id="01"/>
                <h6 class='col-11 px-2 m-0'>Convidado - R$ 15,00</h6>
            </div>
        </div>
        <div class='col-sm-6 col-md-6 px-1 py-2'>
            <div class="row p-0">
                <input type="checkbox" class="col-1 check" value="" id="02"/>
                <h6 class='col-11 px-2 m-0'>Adulto - R$ 25,00</h6>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-12 my-2'>
            <button id='advance3' type='submit' class='btn btn-primary float-end'>Avançar</button>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script type="text/javascript">
        $("#advance3").click(function (event) {
            event.preventDefault();
            var ds = document.getElementsByClassName('accommodation_group');
            for (var i = 0; i < ds.length; i++) {
                var inputs = ds[i].getElementsByTagName('input');
                for (var j = 0; j < inputs.length; j++) {
                    if (`${inputs[j].checked}` == 'true')
                    console.log(`${inputs[j].id}`);
                }
            };

            const start_date = $('#id_date_arrive').val();
            const end_date = $('#id_date_departure').val();
            const url = "{% url 'package:package_transport' city_destiny="+b_url.innerText+" %}";
            const city_destiny = b_url.innerText;

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    start_date : start_date,
                    end_date : end_date,
                    city_destiny : city_destiny,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
                },
                success: function(data){
                    $('#id_transport').html(data);
                    document.getElementById("transport-tab").removeAttribute("disabled");
                    document.getElementById('transport-tab').click();
                }
            });
        });  
    </script>

{% endblock js %}