{% load i18n account static crispy_forms_tags %}
{% block package_trips %}


    {% for t in trips %}
    <div class='justify-content-center'>
        <h4 class="form-title mb-0 p-2" align="center">{{ t.name }}<h4>
        <hr class='m-0'>
        <div class="row card-header mt-3">
            {% for a in activities %}
                {% if t == a.trip %}
                <div class="col-sm-12 col-md-6">
                    <h4 align="center"><b><i>{{ a.name }}</i></b><h4>
                    <div class='row'>
                        {% if a.image %}
                        <img src="{{ a.image.url }}" class="img-responsive mb-2" height="300px" style="border-radius: 1%;" max-width="450px" align="center"/>
                        {% endif %}
                    </div>
                    <div class='row'>
                        <h6 class='px-3 mt-2' style='text-align:city justify; font-weight: normal;'><i>{{ a.description|truncatewords:50 }}</i></h6>
                    </div>
                    <div class="row ml-2 trip_group">
                        {% for p in activities_prices %}
                        {% if a == p.activity %}
                        <div class='col-sm-6 col-md-6 px-1 py-2'>
                            <div class="row p-0">
                                <input type="checkbox" class="col-1" value="" id="{{ p.id }}"/>
                                <h6 class='col-11 px-2 m-0'>{{ p.catpax }} - R$ {{ p.price}}</h6>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <div class='row'>
        <div class='col-12 my-2'>
            <button id='advance2' type='submit' class='btn btn-primary float-end'>Avançar</button>
        </div>
    </div>


{% endblock %}

{% block js %}
    <script type="text/javascript">
        var prices = JSON.parse('{{ len_prices|escapejs }}');

        const start_date = $('#id_date_arrive').val();
        const end_date = $('#id_date_departure').val();
        const url = "{% url 'package:package_accommodation' city_destiny="+b_url.innerText+" %}";
        const city_destiny = b_url.innerText;

        $("#advance2").click(function (event) {
            event.preventDefault();

            var lista = []
            var checkeds = document.querySelectorAll('input[type=checkbox]:checked');
            console.log('checked ', checkeds)
            for (var i = 0; i < checkeds.length; i++) {
                lista.push(checkeds[i].id);
            }
            console.log('lista',lista);



            const totalNewForms = document.getElementById('id_packagetrips_set-TOTAL_FORMS');
            totalNewForms.setAttribute('value', checkeds.length);


            for (var i = 0; i < lista.length; i++) {
                id = (`${lista[i]}`);

               const formCopyTarget = document.getElementById('trip_package_list');
               const emptyForm = document.getElementById('empty-price-form').cloneNode(true);
               emptyForm.setAttribute('class', 'formset_trips');
               emptyForm.setAttribute('id', `id_packagetrips_set-${lista[i]}`);
               formCopyTarget.append(emptyForm);


               //NÃO APAGAR
               //$('#id_packagetrips_set-__prefix__-option').val('22')
               //document.getElementById('id_packagetrips_set-__prefix__-option').value = id;


               //deu
               //var z = document.getElementById('id_packagetrips_set-__prefix__-option')
               //z.setAttribute('id', `id_packagetrips_set-${id}-option`)
               //z.setAttribute('name', `packagetrips_set-${id}-option`)
               //document.getElementById(`id_packagetrips_set-${id}-option`).value = id;
               //console.log(z)


               //foreignkey
               var trip_packages = document.getElementById('id_packagetrips_set-__prefix__-id_price')
               trip_packages.setAttribute('id', `id_packagetrips_set-${id}-id_price`)
               trip_packages.setAttribute('name', `packagetrips_set-${id}-id_price`)
               document.getElementById(`id_packagetrips_set-${id}-id_price`).value=id
               
               
               //const regex = new RegExp('__prefix__', 'g')
               //trip_packages.innerHTML = trip_packages.innerHTML.replace(regex, id)
               //var input1 = document.getElementById(`packagetrips_set-${id}-package`)
               //input1.setAttribute('id', `id_packagetrips_set-${id}-package`)
               //input1.setAttribute('name', `packagetrips_set-${id}-package`)
               //var input2 = document.getElementById(`packagepackagetrips_set-${id}-id`)
               //input2.setAttribute('id', `id_packagetrips_set-${id}-id`)
               //input2.setAttribute('name', `packagetrips_set-${id}-id`)



               //const q = document.querySelectorAll('select')
               //console.log(q)







            }

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    start_date : start_date,
                    end_date : end_date,
                    city_destiny : city_destiny,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken').val(),
                },
                success: function(data){
                    $('#id_accommodation').html(data);
                    document.getElementById('accommodation-tab').removeAttribute("disabled");
                    document.getElementById('accommodation-tab').click();  
                },
                failure: function(data) { 
                    alert("Ocorreu um erro, realize a operação novamente");
                }
            });
        });
    </script>

{% endblock js %}