{% load i18n account static crispy_forms_tags %}
{% block package_transport %}


<div class="tab-pane fade" id="transport" role="tabpanel" aria-labelledby="transport-tab">
    <div class="card text-dark bg-light mb-6" style="max-width: 80rem;">
        <div class="header">
            <div class='row m-2'>
                <h4 class="p-4 pb-0" align="center">Informe os dados nos campos abaixo</h4>
            </div>
        </div>
        <div class='row'>
            <div class='col-4 mb-2'>
                <div class="form-floating mb-3">
                    <input type="text" name="destino" id="id_destino" class="form-control"
                        placeholder="destino" maxlength="100">
                        <label for="floatingInput">Destino</label>
                </div>
            </div>
            <div class='col-4 mb-2'>
                <div class="form-floating mb-3">
                    <input type="text" name="trecho" id="id_trecho" class="form-control"
                        placeholder="trecho" maxlength="100">
                        <label for="floatingInput">Trecho</label>
                </div>
            </div>
            <div class='col-4 mb-2'>
                <div class="form-floating mb-3">
                    <input type="number" name="poltrona" id="id_poltrona" class="form-control"
                        placeholder="" maxlength="50">
                        <label for="floatingInput">Poltronas</label>
                </div>
            </div>
            <div class='row'>
                <div class='col-6 mb-2'>
                    <div class="form-floating mb-3">
                        <input type="text" name="tipo_transporte" id="id_tipo_transporte" class="form-control"
                            placeholder="tipo de transporte">
                        <label for="floatingInput">Tipo de transporte</label>
                    </div>
                </div>
                <div class='col-6 mb-2'>
                    <div class="form-floating mb-3">
                        <input type="text" name="temporada" id="id_temporada"
                            class="form-control" maxlength="30" placeholder="Ex.: alta temporada">
                        <label for="floatingInput">Temporada</label>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-12 my-2'>
                {% comment %} <button id='advance4' type='submit' class='btn btn-primary float-end'>Avançar</button> {% endcomment %}
            </div>
        </div>
    </div>
</div>

<div class='row'>
    <div class="col-2 row mt-1 mb-0 p-1">
        <h5 class='m-0' align="right"><i>Transporte:</i></h5>
    </div>
    <div class="col-10">
        <h4 class="form-title mb-0 p-2" align="left">Nome<h4>
    </div>
    <div class="row mt-2">
    </div>
</div>
<div class="accommodation_group">
    <div class='col-sm-6 col-md-6 px-1 py-2'>
        <div class="row p-0">
            <input type="checkbox" class="col-1 check" value="" id="01"/>
            <h6 class='col-11 px-2 m-0'>Convidado - R$ 15,00</h6>
        </div>
    </div>
    <div class='col-sm-6 col-md-6 px-1 py-2'>
        <div class="row p-0">
            <input type="checkbox" class="col-1 check" value="" id="02"/>
            <h6 class='col-11 px-2 m-0'>Adulto - R$ 25,00</h6>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-12 my-2'>
        <button id='advance4' type='submit' class='btn btn-primary float-end'>Avançar</button>
    </div>
</div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $("#advance4").click(function (event) {
            event.preventDefault();
            
            var ds = document.getElementsByClassName('group');
            for (var i = 0; i < ds.length; i++) {
                var inputs = ds[i].getElementsByTagName('input');
                for (var j = 0; j < inputs.length; j++) {
                    if (`${inputs[j].checked}` == 'true')
                    console.log(`${inputs[j].id}`);
                }
            }
            document.getElementById("dados_finais-tab").removeAttribute("disabled");
            document.getElementById('dados_finais-tab').click();
        });
    </script>

{% endblock js %}