{% extends 'dashboard.html' %}


{% load i18n account static %}

{% block title %} Lista Empresas {% endblock title %} 

{% block dashboard %}

<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Empresas</h3>
        </div>
        <div class="table-responsive">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Documento</th>
                        <th>Estado</th>
                        <th>Cidade</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in object %}
                    <tr>
                        <td>{{ user.company_name }}</td>
                        <td>{{ user.document_number }}</td>
                        <td>{{ user.state }}</td>
                        <td >{{ user.city }}</td>
                        <td align="center">
                            <a href="{% url 'company:admin_company_edit' user.pk %}" class="btn">
                                <i class="zmdi zmdi-edit material-icons-name"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}