{% extends 'dashboard.html' %}

{% load i18n account static crispy_forms_tags %}
{% block title %}
    Destino Turístico
{% endblock title %}
{% block dashboard %}

<script src="{% static 'js/jquery-1.8.2.js' %}"></script>

<div class="card-header">               
    <form method="POST" enctype="multipart/form-data">
        <div class="modal fade" id="myModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Excluir Destino Turístico</h5>
                        <!--button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button-->
                    </div>
                    <div class="modal-body">
                        <h2 class="form-title">Você tem certeza que deseja excluir o destino turístico {{ destiny.name }} ?</h2>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        
                    </div>                            
                    <div class="modal-footer">
                        <div class="card-body">
                            <div class="row ml-0">
                                <div class="col-md-1">
                                    <div class="form-floating">
                                        <button type="submit" value="Confirmar" class="btn btn-danger">Excluir</button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>                    
    </form>
</div>
<script>
   $(window).on('load',function(){
    $('#myModal').modal('show'); });
</script>

{% endblock %}
