{% extends 'user/dashboard_clean.html' %}

{% load i18n %}
{% load account %}
{% load static %}


{% block dashboard %}


<div id="layoutSidenav_content">
    <div class="container-fluid">
        <div class="content-header">
            <div class="content-header">
                <h1 class="mb-2">Editar Cadastro</h1>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.non_field_errors }}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" id="id_username" name="username" type="text"
                                    value="{{ form.username.value }}" />
                                {{ form.username.errors }}
                                <label for="id_username">Username</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" id="id_email" name="email" type="email"
                                    value="{{ form.email.value }}" />
                                {{ form.email.errors }}
                                <label for="id_email">Email</label>
                            </div>
                        </div>
                        <!-- {{ user.is_active }} -->
                        <!-- <div class="col-md-2">
                            <div class="form-floating">
                                <input class="form-control" id="id_is_active" name="is_active" type="checkbox"/>
                                <label for="id_is_active">Conta ativa</label>
                            </div>
                        </div> -->
                    </div>                    
                    <div class="row mb-3">
                        <div class="col-md-5">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" type="text" name="company" id="id_company"
                                    value="{{ form.company.value }}" />
                                {{ form.company.errors }}
                                <label for="id_company">Razão Social</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating">
                                <input class="mask-cnpj form-control" type="text" name="document_number"
                                    id="id_document_number" value="{{ form.document_number.value }}" />
                                {{ form.document_number.errors }}
                                <label for="id_document_number">CNPJ</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <div class="form-control-file">
                                    <input class="btn-light" type="file" name="document_image" id="id_document_image"
                                        value="{{ form.document_image.value }}" placeholder="Imagem" />
                                    {{ form.document_image.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" type="text" name="street" id="id_street"
                                    value="{{ form.street.value }}" />
                                {{ form.street.errors }}
                                <label for="id_street">Logradouro</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating">
                                <input class="form-control" type="number" name="number" id="id_number"
                                    value="{{ form.number.value }}" />
                                {{ form.number.errors }}
                                <label for="id_number">Número</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating">
                                <input class="form-control" type="text" name="complement" id="id_complement"
                                    value="{{ form.complement.value }}" />
                                {{ form.complement.errors }}
                                <label for="id_complement">Complemento</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" type="text" name="city" id="id_city"
                                    value="{{ form.city.value }}" placeholder="Cidade" />
                                {{ form.city.errors }}
                                <label for="id_city">Cidade</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating">
                                <input class="form-control" type="text" name="state" id="id_state"
                                    value="{{ form.state.value }}" placeholder="Estado" />
                                {{ form.state.errors }}
                                <label for="id_state">Estado</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating">
                                <input class="mask-cep form-control" type="text" name="postal_code" id="id_postal_code"
                                    value="{{ form.postal_code.value }}" placeholder="CEP" />
                                {{ form.postal_code.errors }}
                                <label for="id_postal_code">CEP</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-button">
                        <input type="submit" class="form-submit" value="Salvar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock dashboard %}