{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Home</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css'%}">
    <!-- Core theme CSS (includes Bootstrap)-->
    
    <!-- base and index -->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
    <!-- dashboard -->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

</head>


    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" style="padding: 8px 0px;" >
        <a class="navbar-brand ps-3" href="/">Turismo</a>
    </nav>

    
        <div class="text-center">
            <div class="row">
                <div class="text-center">               
                    <div id="layoutAuthentication">
                        <div id="layoutAuthentication_content">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-7">
                                        <div class="card shadow-lg border-0 rounded-lg mt-3">
                                            <div class="card-header">
                                                <h3 class="text-center font-weight-light my-4">Editar</h3>
                                            </div>
                                            <div class="card-body">
                                                <form class="pure-form" method="POST">
                                                    {% csrf_token %}
                                                    {{ form.as_p }}

                                                    <div class="mt-4 mb-0">
                                                        <input type="submit" value="Editar" class="btn btn-primary" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright © Your Website 2021</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            ·
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>




</html>