{% extends 'user/dashboard_clean.html' %}

{% load i18n %}
{% load account %}
{% load static %}

{% block dashboard %}

<div id="layoutSidenav_content">
    <div class="container-fluid">
        <div class="content-header">   
            <div class="content-header">
                <h1 class="mb-2" >Gestão dos Usuários</h1>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Lista de usuários</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover dataTable-table">
                                <thead>
                                    <tr>
                                        <th>Usuário</th>
                                        <th>Mod.</th>
                                        <th>Email</th>
                                        <th>Documento</th>
                                        <th>Cidade</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for user in object %}
                                    <tr>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.get_option_display }}</td>
                                        <td>{{ user.email }}</td>
                                        <td class="mask-cnpj">{{ user.document_number }}</td>
                                        <td>{{ user.city }}</td>
                                        <td align="center">
                                            <a href="{% url 'user:edit_user_admin' user.pk %}" class="btn">
                                                <i class="zmdi zmdi-edit material-icons-name"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock dashboard %}