{% extends 'dashboard.html' %}


{% load i18n account static %}

{% block title %} Editar Usuário {% endblock title %} 

{% block dashboard %}

<div class="container-fluid">
    <div class="card card-primary">
        <div class="card-header">
        <h3 class="card-title">Editar Cadastro</h3>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}                
            <div class="card-body">
                {% if user.is_superuser %}
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-floating mb-1">
                            <div class="form-check">
                                <label for="id_is_active">Usuário Ativo</label>
                            </div>
                            <div class="class-md-3">
                                {{ form.is_active }}
                                {{ form.is_active.errors }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-floating mb-1">
                            <input class="form-control" id="id_username" name="username" type="text"
                                value="{{ form.username.value }}" />
                            {{ form.username.errors }}
                            <label for="id_username">Usuário</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-floating mb-1">
                            <input class="form-control" id="id_email" name="email" type="email"
                                value="{{ form.email.value }}" />
                            {{ form.email.errors }}
                            <label for="id_email">Email</label>
                        </div>
                    </div>
                </div>
                <div class="row ml-0">
                    <div class="col-md-1">
                        <div class="form-floating">
                            <button type="submit" class="btn btn-primary">Salvar</button>        
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}